.btn {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    color: white;
}

td {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}

mat-form-field {
    padding: 10px 15px 0px 15px;
}

table {
    width: 100%;
    font-size: 12px;
}

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

#cerrar {
    cursor: pointer;
    margin-left: 25px;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

#plan {
    color: rgb(38, 0, 255);
    cursor: pointer;
    text-align: center;
}

#multiple_ {
    color: rgb(102, 4, 115);
    margin-left: 15px;
    cursor: pointer;
    text-align: center;
}


#busca {
    color: rgb(188, 76, 1);
    cursor: pointer;
    margin-left: 15px;
    text-align: center;
}

#elimina_ {
    color: rgb(232, 7, 7);
    cursor: pointer;
    margin-left: 15px;
    text-align: center;
}

p {
    font-size: x-small;
}