<div class="container" style="padding-bottom: 25px; padding-top: 20px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <div class="w-100 bd-highlight">
                <h5>PLANIFICACIÓN DE HORAS EXTRAS</h5>
            </div>
        </div>
        <div *ngFor="let h of hora_extra | paginate:tamanio_pagina:numero_pagina" style="padding-top: 15px;">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Motivo:</label>
                            <label>{{h.descripcion}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Desde:</label>
                            <label>{{h.fecha_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Hasta:</label>
                            <label>{{h.fecha_fin_}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Hora Desde:</label>
                            <label>{{h.hora_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Hora Hasta:</label>
                            <label>{{h.hora_fin_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Horas Planificadas:</label>
                            <label>{{h.horas_totales}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Estado:</label>
                            <label>{{h.estado}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-paginator id="pagina" [length]="hora_extra.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>