<div class="container" style="padding-bottom: 15px; padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <mat-accordion>
            <mat-expansion-panel [expanded]="expansion" (opened)="expansion = true" (closed)="expansion = false">
                <mat-expansion-panel-header style="background: rgb(52, 65, 84); font-size: 16px;">
                    <mat-panel-title style="color: white;">
                        <span style="margin-left: 15px;">
                            BÚSQUEDA RANGO FECHAS
                        </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card-content>
                    <div class="row">
                        <div class="nota" style="margin-left: 15px;">
                            <span id="fuente_">
                                NOTA: Al presionar Buscar se visualizará la planificación del mes actual. Para
                                una búsqueda personalizada ingresar mes de inicio y fin de periodo.
                            </span>
                        </div>
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <mat-form-field style="width: 160px;">
                                            <mat-label>Mes inicio</mat-label>
                                            <input matInput [matDatepicker]="fec1" [formControl]="fechaInicialF"
                                                placeholder="DD/MM/YYYY" readonly>
                                            <mat-datepicker-toggle matIconSuffix [for]="fec1"></mat-datepicker-toggle>
                                            <mat-datepicker #fec1 startView="year"
                                                (monthSelected)="FormatearFecha($event, fec1, 1)" touchUi>
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <mat-form-field style="width: 160px;">
                                            <mat-label>Mes final</mat-label>
                                            <input matInput [matDatepicker]="fec2" [formControl]="fechaFinalF"
                                                placeholder="DD/MM/YYYY" readonly>
                                            <mat-datepicker-toggle matIconSuffix [for]="fec2"
                                                [disabled]="fecHorario"></mat-datepicker-toggle>
                                            <mat-datepicker #fec2 startView="year"
                                                (monthSelected)="FormatearFecha($event, fec2, 2)" touchUi>
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap justify-content-center">
                                    <div style="margin: 0 auto;">
                                        <button id="btn-raised" class="btn btn-sm" (click)="BuscarHorarioPeriodo()">
                                            Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md" id="verticalLine">
                            <div class="row">
                                <div class="col-md" style="text-align: center;">
                                    <div style="padding-top: 5px; margin: 0 auto;">
                                        <button id="boton_redondo" class="btn btn-sm"
                                            (click)="AbrirPlanificarHorario()">
                                            Horario Fijo
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md" style="text-align: center;">
                                    <div style="padding-top: 5px; margin: 0 auto;">
                                    </div>
                                </div>
                                <div class="col-md" style="text-align: center;">
                                    <div style="padding-top: 5px; margin: 0 auto;">
                                        <button id="boton_redondo" class="btn btn-sm"
                                            (click)="AbrirVentanaHorarioRotativo()">
                                            Horario Múltiple
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md" style="text-align: center;">
                                    <div style="padding-top: 5px; margin: 0 auto;">
                                    </div>
                                </div>
                                <div class="col-md" style="text-align: center;">
                                    <div style="padding-top: 5px; margin: 0 auto;">
                                        <button id="boton_redondo" class="btn btn-sm" (click)="EliminarHorarios()">
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md" style="text-align: center;">
                                    <div style="padding-top: 5px; margin: 0 auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>

<!-- *********************** TABLA DE DETALLES DE HORARIOS Y DEFINICIONES ******************************* -->
<div class="container" style="padding-bottom: 25px;" *ngIf="ver_acciones">
    <div class="row">
        <div class="col-md">
            <div class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        DETALLE DE HORARIOS
                    </span>
                </div>
                <div class="table-responsive" style="text-align: center;">
                    <table id="table_acciones" class="table table-hover table-sm" style="margin: 0 auto;">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th scope="col" id="td_horarios">HORARIO</th>
                                <th scope="col" id="td_horarios">ENTRADA (E)</th>
                                <th scope="col" id="td_horarios">INICIO ALIMENTACIÓN (I/A)</th>
                                <th scope="col" id="td_horarios">FIN ALIMENTACIÓN (F/A)</th>
                                <th scope="col" id="td_horarios">SALIDA (S)</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="paginar">
                            <tr *ngFor="let d of detalle_acciones | paginate:tamanio_paginaD:numero_paginaD">
                                <td id="td_horarios">{{d.horario}}</td>
                                <td id="td_horarios">{{d.entrada_}}</td>
                                <td id="td_horarios">{{d.inicio_comida}}</td>
                                <td id="td_horarios">{{d.fin_comida}}</td>
                                <td id="td_horarios">{{d.salida_}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!paginar">
                            <tr *ngFor="let d of detalle_acciones">
                                <td id="td_horarios">{{d.horario}}</td>
                                <td id="td_horarios">{{d.entrada_}}</td>
                                <td id="td_horarios">{{d.inicio_comida}}</td>
                                <td id="td_horarios">{{d.fin_comida}}</td>
                                <td id="td_horarios">{{d.salida_}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator *ngIf="paginar" id="pagina" [length]="detalle_acciones.length"
                    [pageSize]="tamanio_paginaD" [pageSizeOptions]="pageSizeOptionsD"
                    (page)="ManejarPaginaDetalles($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
        <div class="col-md">
            <div class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        DEFINICIONES
                    </span>
                    <mat-icon class="float-right" id="cerrar_" (click)="CerrarDetalles()">
                        highlight_off
                    </mat-icon>
                </div>
                <div class="table-responsive" style="text-align: center;">
                    <table id="table_acciones" class="table table-hover table-sm" style="margin: 0 auto;">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th scope="col" id="td_horarios">NOMENCLATURA</th>
                                <th scope="col" id="td_horarios">DESCRIPCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let n of nomenclatura | paginate:tamanio_pagina:numero_pagina">
                                <td id="td_horarios">{{n.nombre}}</td>
                                <td id="td_horarios">{{n.descripcion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *********************** TABLA DE LISTA DE HORARIOS ASIGNADOS AL USUARIO ******************************* -->
<div class="container" style="padding-bottom: 25px;" *ngIf="ver_tabla_horarios">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <i class="fa fa-pencil-square-o float-right" aria-hidden="true" id="activar_editar"
                *ngIf="ver_activar_editar" (click)="ActivarEditarHorario()">
            </i>
            <span class="w-100 bd-highlight">
                LISTA DE HORARIOS DEL USUARIO
            </span>
        </div>

        <div class="table_content">
            <div class="table-responsive" #tabla2>
                <table id="table_horario2" class="table table-hover table-sm ">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th class="sticky colum_1" scope="col" id="td_horarios" rowspan="2">AÑO</th>
                            <th class="sticky-2 colum_1" scope="col" id="td_horarios" rowspan="2">MES</th>
                            <th scope="col" id="td_horarios" colspan="31">DÍAS DEL MES</th>
                        </tr>
                        <tr style="text-align: center;">
                            <th scope="col" id="td_horarios">01</th>
                            <th scope="col" id="td_horarios">02</th>
                            <th scope="col" id="td_horarios">03</th>
                            <th scope="col" id="td_horarios">04</th>
                            <th scope="col" id="td_horarios">05</th>
                            <th scope="col" id="td_horarios">06</th>
                            <th scope="col" id="td_horarios">07</th>
                            <th scope="col" id="td_horarios">08</th>
                            <th scope="col" id="td_horarios">09</th>
                            <th scope="col" id="td_horarios">10</th>
                            <th scope="col" id="td_horarios">11</th>
                            <th scope="col" id="td_horarios">12</th>
                            <th scope="col" id="td_horarios">13</th>
                            <th scope="col" id="td_horarios">14</th>
                            <th scope="col" id="td_horarios">15</th>
                            <th scope="col" id="td_horarios">16</th>
                            <th scope="col" id="td_horarios">17</th>
                            <th scope="col" id="td_horarios">18</th>
                            <th scope="col" id="td_horarios">19</th>
                            <th scope="col" id="td_horarios">20</th>
                            <th scope="col" id="td_horarios">21</th>
                            <th scope="col" id="td_horarios">22</th>
                            <th scope="col" id="td_horarios">23</th>
                            <th scope="col" id="td_horarios">24</th>
                            <th scope="col" id="td_horarios">25</th>
                            <th scope="col" id="td_horarios">26</th>
                            <th scope="col" id="td_horarios">27</th>
                            <th scope="col" id="td_horarios">28</th>
                            <th scope="col" id="td_horarios">29</th>
                            <th scope="col" id="td_horarios">30</th>
                            <th scope="col" id="td_horarios">31</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let h of horariosEmpleado | paginate:tamanio_pagina:numero_pagina">
                            <td class="sticky colum_1" id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color)}">{{h.anio}}</td>
                            <td class="sticky-2 colum_1" id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color)}">{{h.mes}}</td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 1 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 1, h.dia1, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia1.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios" style="white-space: pre;"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 2 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 2, h.dia2, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia2.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 3 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 3, h.dia3, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia3.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 4 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 4, h.dia4, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia4.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 5 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 5, h.dia5, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia5.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 6 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 6, h.dia6, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia6.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 7 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 7, h.dia7, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia7.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 8 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 8, h.dia8, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia8.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 9 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 9, h.dia9, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia9.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 10 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 10, h.dia10, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia10.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 11 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 11, h.dia11, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia11.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 12 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 12, h.dia12, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia12.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 13 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 13, h.dia13, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia13.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 14 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 14, h.dia14, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia14.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 15 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 15, h.dia15, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                {{h.dia15}}
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 16 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 16, h.dia16, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia16.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 17 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 17, h.dia17, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia17.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 18 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 18, h.dia18, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia18.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 19 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 19, h.dia19, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia19.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 20 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 20, h.dia20, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia20.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 21 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 21, h.dia21, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia21.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 22 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 22, h.dia22, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia22.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 23 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 23, h.dia23, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia23.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 24 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 24, h.dia24, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia24.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 25 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 25, h.dia25, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia25.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 26 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 26, h.dia26, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia26.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 27 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 27, h.dia27, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia27.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 28 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 28, h.dia28, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia28.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 29 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 29, h.dia29, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia29.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 30 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 30, h.dia30, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia30.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                            <td id="td_horarios"
                                [ngStyle]="{'background':CambiarColores(h.color), 'background-color':h.seleccionado === 31 ? '#9CF7B9' : '' }">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" id="editar_horario"
                                    *ngIf="editar_activar"
                                    (click)="AbrirEditarHorario(h.anio, h.mes, 31, h.dia31, h.index)">
                                </i>
                                <br *ngIf="editar_activar">
                                <div *ngFor="let dia of h.dia31.split(','); let ultimo = last">
                                    {{ dia }}
                                    <br *ngIf="!ultimo">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-around" style="margin-top: 1%;" *ngIf="ver_detalle">
            <button id="btn-raised" class="btn btn-sm" (click)="ObtenerDetallesPlanificacion()">
                Detalle Planificación
            </button>
        </div>
        <mat-paginator id="pagina" [length]="horariosEmpleado.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>
</div>

<!-- ************** PANTALLA DE EDICION DE HORARIOS ************************* -->
<app-editar-planificacion [datos_horarios]="datos_editar" *ngIf="editar_horario">
</app-editar-planificacion>

<!-- ************** PANTALLA DE REGISTRO DE HORARIO  ************************* -->
<div class="container" style="padding-bottom: 15px;" *ngIf="ventana_horario">
    <app-registo-empleado-horario [data_horario]="data_horario">
    </app-registo-empleado-horario>
</div>

<!-- ************** PANTALLA DE REGISTRO DE HORARIO ROTATIVO ************************* -->
<app-registro-plan-horario *ngIf="registrar_rotativo" [datoEmpleado]="rotativo"></app-registro-plan-horario>

<!-- ************** PANTALLA ELIMINAR REGISTROS ************************* -->
<div class="container" style="padding-bottom: 15px;" *ngIf="eliminar_plan">
    <app-eliminar-individual [datosEliminar]="eliminar_horarios"></app-eliminar-individual>
</div>