<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        MODIFICAR DETALLE DE PARÁMETRO
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="ventana.close()">highlight_off</mat-icon>
</div>
<div class="container">
    <form [formGroup]="formulario">
        <div style="text-align: center">
            <div class="nota" id="espacio" style="text-align: justify;">
                <span> {{nota}} <br> {{especificacion}} </span>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <mat-form-field>
                    <mat-label>Detalle</mat-label>
                    <input matInput [formControl]="descripcion" required>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 2%;">
        <button id="btn-raised" class="btn btn-sm" [disabled]=" !formulario.valid" value="Guardar"
            (click)="GuardarDatos(formulario.value)">
            Guardar
        </button>
    </div>
</div>