<div class="container" style="padding-top: 20px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md" style="padding-bottom: 20px;">
            <mat-card class="mat-elevation-z8">
                <div id="titulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <h5>CONTRATO DE TRABAJO</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" *ngFor="let ce of contratoEmpleado" style="padding-top: 15px;">
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Regimen:</label>
                                    <label>{{ce.descripcion}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Fecha desde:</label>
                                    <label>{{ce.fec_ingreso_}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Fecha hasta:</label>
                                    <label *ngIf="ce.fec_salida === null; else fechaSalida">
                                        Sin fecha
                                    </label>
                                    <ng-template #fechaSalida>
                                        <label>{{ce.fec_salida_}}</label>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Modalidad laboral:</label>
                                    <label>{{ce.nombre_contrato}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Control de asistencia:</label>
                                    <label> {{ce.asis_controla === true ? 'Si' : 'No'}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Control de vacaciones:</label>
                                    <label> {{ce.vaca_controla === true ? 'Si' : 'No'}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="ce.documento != null && ce.documento != ''">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Documento contrato:</label>
                                    <a class="fas fa-file-alt"
                                        style="color:rgb(11, 70, 197); text-align: center; margin-left: 20px;" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar click para descargar contrato de trabajo."
                                        href="{{hipervinculo}}/contratoEmpleado/documentos/{{ce.documento}}/contrato/{{ce.id_empleado}}"
                                        target="_blank">
                                        <p>{{ce.documento}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="mat-elevation-z8">
                <div id="titulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <h5>CONTRATOS ANTERIORES</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" style="padding-top: 15px; text-align: center;">
                        <form [formGroup]="contratoForm">
                            <mat-form-field>
                                <mat-label>Período del contrato</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Lista de contratos del usuario.">
                                    help_outline
                                </mat-icon>
                                <mat-select [formControl]="fechaContrato">
                                    <mat-option *ngFor="let c of contratoBuscado" [value]="c.id"
                                        (click)="ObtenerContratoSeleccionado(contratoForm.value)">
                                        {{c.fec_ingreso_}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="container" *ngFor="let ce of contratoSeleccionado" style="padding-top: 15px;">
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Regimen:</label>
                                    <label>{{ce.descripcion}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Fecha desde:</label>
                                    <label>{{ce.fec_ingreso_}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Fecha hasta:</label>
                                    <label *ngIf="ce.fec_salida === null">Sin fecha</label>
                                    <label *ngIf="ce.fec_salida != null">{{ce.fec_salida_}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Control de asistencia:</label>
                                    <label *ngIf="ce.asis_controla == true">Si</label>
                                    <label *ngIf="ce.asis_controla == false">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Control de vacaciones:</label>
                                    <label *ngIf="ce.vaca_controla == true">Si</label>
                                    <label *ngIf="ce.vaca_controla == false">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="ce.documento != null && ce.documento != ''">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Documento contrato:</label>
                                    <a class="fas fa-file-alt"
                                        style="color:rgb(11, 70, 197); text-align: center; margin-left: 20px; font-size: 13px;"
                                        matSuffix matTooltipPosition="right"
                                        matTooltip="Dar click para descargar contrato de trabajo"
                                        href="{{hipervinculo}}/contratoEmpleado/documentos/{{ce.documento}}"
                                        target="_blank">
                                        <p>{{ce.documento}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: right;">
                            <i type="submit" id="cerrar" style="margin-right: 20px;" (click)="LimpiarContrato()"
                                matSuffix matTooltipPosition="right" matTooltip="Cerrar Registro"
                                class="fa fa-times-circle">
                                <p>Cerrar</p>
                            </i>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="mat-elevation-z8">
                <div id="titulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <h5>CARGO ACTUAL</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" *ngFor="let c of cargoEmpleado" style="padding-top: 15px;">
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Sucursal:</label>
                                    <label>{{c.sucursal}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Departamento:</label>
                                    <label>{{c.departamento}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Fecha desde:</label>
                                    <label>{{c.fec_inicio_}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Fecha hasta:</label>
                                    <label>{{c.fec_final_}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Cargo:</label>
                                    <label>{{c.nombre_cargo}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Sueldo:</label>
                                    <label>$ {{c.sueldo}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Horas de trabajo:</label>
                                    <label>{{c.hora_trabaja}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="mat-elevation-z8">
                <div id="titulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <h5>CARGOS ANTERIORES</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" style="padding-top: 15px; text-align: center;">
                        <form [formGroup]="cargoForm">
                            <mat-form-field>
                                <mat-label>Período del cargo</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Seleccionar contrato para obtener la lista de sus respectivos cargos.">
                                    help_outline
                                </mat-icon>
                                <mat-select [formControl]="fechaICargo">
                                    <mat-option *ngFor="let c of listaCargos" [value]="c.id"
                                        (click)="ObtenerCargoSeleccionado(cargoForm.value)">
                                        {{c.fec_inicio_}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="container" *ngFor="let c of cargoSeleccionado" style="padding-top: 15px;">
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Sucursal:</label>
                                    <label>{{c.sucursal}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Departamento:</label>
                                    <label>{{c.departamento}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Fecha desde:</label>
                                    <label>{{c.fec_inicio_}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Fecha hasta:</label>
                                    <label>{{c.fec_final_}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Cargo:</label>
                                    <label>{{c.nombre_cargo}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Sueldo:</label>
                                    <label>$ {{c.sueldo}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="espacio d-flex justify-content-start">
                                    <label id="datosF">Horas de Trabajo:</label>
                                    <label>{{c.hora_trabaja}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>