mat-divider {
    background: rgba(131, 131, 131, 0.609);
}

#contratoLaboral {
    font-size: 14px;
}

#cerrar {
    color: rgb(38, 0, 255);
    margin-right: 5px;
    cursor: pointer;
    margin-left: 15px;
    text-align: center;
}

p {
    font-size: x-small;
}

#datosF {
    font-weight: bold;
    font-size: 15px;
    padding-right: 5px;
}

.espacio {
    padding: 0px 5px 0px 5px;
}