<div id="resultados">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        MODIFICACIÓN DEL TIMBRE
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="ventana.close()">highlight_off</mat-icon>
</div>
<mat-card class="example-card mat-elevation-z9">
    <mat-card-content>
        <form [formGroup]="EditartimbreForm">
            <div class="row">
                <div class="col-md-4">
                    <div style="text-align: center !important;">
                        <i class="fas fa-solid fa-user-clock" matSuffix matTooltipPosition="left"
                            matTooltip="Ver timbre." style="font-size: 90px; color: rgb(10, 62, 110);">
                        </i>
                        <br>
                        <span id="fuente">
                            <b>
                                ID RELOJ: {{datosTimbre.id_reloj}}
                            </b>
                        </span>
                    </div>
                    <span id="fuente">
                        <label><i id="ver" class="fas fa-solid fa-user"></i> {{datosTimbre.empleado}}</label>
                    </span>
                    <br>
                    <span id="fuente">
                        <label><i id="ver" class="fa fa-calendar"></i>
                            {{datosTimbre.fecha}}
                        </label>
                    </span>
                    <br>
                    <span id="fuente">
                        <label><i id="ver" class="fas fa-solid fa-clock"></i>
                            {{datosTimbre.hora}}
                        </label>
                    </span>
                </div>
                <div class="col-md-8">
                    <div class="nota">
                        <span>NOTA: Es factible actualizar la acción del timbre y su observación.</span>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field class="tecla_accion">
                                <mat-label>Acción timbre</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Acciónes de la marcación.">
                                    help_outline
                                </mat-icon>
                                <mat-select formControlName="accionTimbre" [(value)]="seleccion"
                                    (selectionChange)="SelectedAccion($event)">
                                    <mat-option *ngFor="let accion of acciones" [value]="accion.item">
                                        {{accion.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md">
                            <mat-form-field class="tecla_funcion">
                                <mat-label>Tecla funcion</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Tecla marcada en el biométrico.">
                                    help_outline
                                </mat-icon>
                                <mat-select formControlName="teclaFunTimbre" [(value)]="SeleccionTecla"
                                    (selectionChange)="SelectedTecla($event)">
                                    <mat-option *ngFor="let teclaFun of tecl_funcio" [value]="teclaFun.value">
                                        {{teclaFun.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md" style="text-align: left !important;">
                            <div class="d-flex flex-wrap justify-content-between">
                                <mat-form-field style="width: 370px;">
                                    <mat-label>Observación</mat-label>
                                    <textarea name="textareaValue" matInput #message maxlength="150"
                                        formControlName="ObservacionForm"></textarea>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingrese el mensaje que desea compartir.">
                                        help_outline
                                    </mat-icon>
                                    <mat-hint style="color:rgb(42, 66, 101)" align="start">
                                        Puede ingresar hasta 150 caracteres.
                                    </mat-hint>
                                    <mat-hint style="color:rgb(42, 66, 101)" align="end">
                                        {{message.value.length}} / 150
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: 1%; margin-bottom: 2%;">
            <button mat-raised-button id="btn-raised" type="submit" (click)="EnviarDatosTimbre(EditartimbreForm.value)">
                Guardar
            </button>
        </div>
    </mat-card-content>
</mat-card>