p {
    font-size: x-small;
    text-align: center;
}

td {
    padding-top: 10px;
    text-align: center;
}

hr {
    background-color: black;
}

.btn {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    color: white;
}

#editarI {
    color: green;
    cursor: pointer;
}

#editarF {
    color: green;
    cursor: pointer;
    text-align: center;
    margin-left: 15px;
}

.espacio {
    padding: 0px 10px 0px 10px;
}

#datosF {
    padding-right: 5px;
    font-weight: bold;
    font-size: 15px;
}

table {
    width: 100%;
    font-size: 14px;
}