<div style="padding-top: 20px;">
    <div id="titulo">CONFIGURAR USUARIOS TELETRABAJO</div>

    <mat-card class="example-card mat-elevation-z9">

        <!-------------------------------------------- LISTA DE USUARIOS HABILITADOS ------------------------------------------------>
        <div style="padding-top: 20px;" *ngIf="activar_habilitados">
            <mat-card-content>
                <div id="resultados">
                    <span>LISTAR USUARIOS ACTIVOS TIMBRE TELETRABAJO</span>
                    <mat-icon class="float-right" id="cerrar" (click)="LimpiarFormulario(2)">highlight_off</mat-icon>
                </div>
                <br>
                <form>
                    <mat-radio-group class="d-flex flex-wrap justify-content-center" [formControl]="seleccion">
                        <mat-radio-button class="example-radio-button" *ngFor="let c of check" [value]="c.opcion"
                            (change)="BuscarPorTipo($event)">
                            <label id="textoradiobtn">{{c.valor}}</label>
                        </mat-radio-button>
                    </mat-radio-group>
                </form>

                <!-- FORM PARA SUCURSALES -->
                <form *ngIf="_booleanOptions.bool_suc">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Sucursal</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreSuc_"
                                (input)="Filtrar(filtroNombreSuc_, 6)" [formControl]="nombre_suc" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de sucursales por nombre.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>
                <!-- FORM PARA REGIMEN -->
                <form *ngIf="_booleanOptions.bool_reg">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Regimen laboral</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreReg_"
                                (input)="Filtrar(filtroNombreReg_, 13)" [formControl]="nombre_reg" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de régimen laboral por nombre.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>
                <!-- FORM PARA CARGOS -->
                <form *ngIf="_booleanOptions.bool_cargo">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Cargo</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreCarg_"
                                (input)="Filtrar(filtroNombreCarg_, 7)" [formControl]="nombre_carg" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de cargos por su descripción.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>
                <!-- FORM PARA DEPARTAMENTOS -->
                <form *ngIf="_booleanOptions.bool_dep">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field>
                                    <mat-label>Sucursal</mat-label>
                                    <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreSuc_"
                                        (input)="Filtrar(filtroNombreSuc_, 6)" [formControl]="nombre_suc" type="text"
                                        (keypress)="IngresarSoloLetras($event)">
                                    <mat-icon matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de sucursales por nombre.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field>
                                    <mat-label>Departamento</mat-label>
                                    <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreDep_"
                                        (input)="Filtrar(filtroNombreDep_, 8)" [formControl]="nombre_dep" type="text"
                                        (keypress)="IngresarSoloLetras($event)">
                                    <mat-icon matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de departamentos por nombre.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- FORM PARA EMPLEADOS -->
                <form *ngIf="_booleanOptions.bool_emp">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Código</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="filtroCodigo_"
                                (input)="Filtrar(filtroCodigo_, 9)" [formControl]="codigo"
                                (keypress)="IngresarSoloNumeros($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de empleado por código.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>CI o pasaporte</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="filtroCedula_" maxlength="10"
                                (input)="Filtrar(filtroCedula_, 10)"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de empleado por cédula de identificación o pasaporte.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreEmp_"
                                (input)="Filtrar(filtroNombreEmp_, 11)" [formControl]="nombre_emp" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de empleado por nombre.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>

                <div *ngIf="activar_boton" class="d-flex flex-wrap justify-content-center" style="padding-top: 15px;">
                    <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros(0)">
                        Deshabilitar usuarios
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarFormulario(2)">Cancelar</button>
                </div>

                <hr>
                <!-- TABLA PARA SUCURSALES -->
                <div *ngIf="_booleanOptions.bool_suc" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados">
                        <span class="w-100 bd-highlight">
                            RESULTADO SUCURSALES
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                            (click)="MostrarLista()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple" (change)="$event ? masterToggleSuc() : null"
                                            [checked]="selectionSuc.hasValue() && isAllSelectedSuc()"
                                            [indeterminate]="selectionSuc.hasValue() && !isAllSelectedSuc()"
                                            [aria-label]="checkboxLabelSuc()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let s of sucursales | emplNombre: filtroNombreSuc | paginate:tamanio_pagina_suc:numero_pagina_suc">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionSuc.toggle(s) : null"
                                            [checked]="selectionSuc.isSelected(s)" [aria-label]="checkboxLabelSuc(s)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{s.nombre}}</td>
                                    <td class="justify-content-center">
                                        <i (click)="GuardarRegistros(s.id)" id="plan" *ngIf="individual"
                                            class="fas fa-thumbs-down" matSuffix matTooltipPosition="right"
                                            matTooltip="Deshabilitar usuarios para uso de timbre de teletrabajo.">
                                            <p>Deshabilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina_suc"
                        [pageSizeOptions]="pageSizeOptions_suc" (page)="ManejarPaginaResultados($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>
                <!-- TABLA PARA REGIMEN -->
                <div *ngIf="_booleanOptions.bool_reg" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados">
                        <span class="w-100 bd-highlight">
                            RESULTADO REGIMEN LABORAL
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                            (click)="MostrarLista()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple" (change)="$event ? masterToggleReg() : null"
                                            [checked]="selectionReg.hasValue() && isAllSelectedSuc()"
                                            [indeterminate]="selectionReg.hasValue() && !isAllSelectedReg()"
                                            [aria-label]="checkboxLabelReg()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let r of regimen | emplNombre: filtroNombreReg | paginate:tamanio_pagina_reg:numero_pagina_reg">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionReg.toggle(r) : null"
                                            [checked]="selectionReg.isSelected(r)" [aria-label]="checkboxLabelReg(r)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{r.nombre}}</td>
                                    <td class="justify-content-center">
                                        <i (click)="GuardarRegistros(r.id)" id="plan" *ngIf="individual"
                                            class="fas fa-thumbs-down" matSuffix matTooltipPosition="right"
                                            matTooltip="Deshabilitar usuarios para uso de timbre de teletrabajo.">
                                            <p>Deshabilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="regimen.length" [pageSize]="tamanio_pagina_reg"
                        [pageSizeOptions]="pageSizeOptions_reg" (page)="ManejarPaginaResultados($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>
                <!-- TABLA PARA CARGOS -->
                <div *ngIf="_booleanOptions.bool_cargo" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados">
                        <span class="w-100 bd-highlight">
                            RESULTADO CARGOS
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                            (click)="MostrarLista()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple" (change)="$event ? masterToggleCarg() : null"
                                            [checked]="selectionCarg.hasValue() && isAllSelectedCarg()"
                                            [indeterminate]="selectionCarg.hasValue() && !isAllSelectedCarg()"
                                            [aria-label]="checkboxLabelCarg()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Planificar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let c of cargos | emplNombre: filtroNombreCarg | paginate:tamanio_pagina_car:numero_pagina_car">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionCarg.toggle(c) : null"
                                            [checked]="selectionCarg.isSelected(c)" [aria-label]="checkboxLabelCarg(c)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{c.nombre}}</td>
                                    <td lass="justify-content-center">
                                        <i (click)="GuardarRegistros(c.id)" id="plan" *ngIf="individual"
                                            class="fas fa-thumbs-down" matSuffix matTooltipPosition="right"
                                            matTooltip="Deshabilitar usuarios para uso de timbre de teletrabajo.">
                                            <p>Deshabilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="cargos.length" [pageSize]="tamanio_pagina_car"
                        [pageSizeOptions]="pageSizeOptions_car" (page)="ManejarPaginaResultados($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>

                <!-- TABLA PARA DEPARTAMENTOS -->
                <div *ngIf="_booleanOptions.bool_dep" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados">
                        <span class="w-100 bd-highlight">
                            RESULTADO DEPARTAMENTOS
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                            (click)="MostrarLista()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple" (change)="$event ? masterToggleDep() : null"
                                            [checked]="selectionDep.hasValue() && isAllSelectedDep()"
                                            [indeterminate]="selectionDep.hasValue() && !isAllSelectedDep()"
                                            [aria-label]="checkboxLabelDep()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Sucursal</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let d of departamentos | emplNombre: filtroNombreSuc | departamento: filtroNombreDep | paginate:tamanio_pagina_dep:numero_pagina_dep">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionDep.toggle(d) : null"
                                            [checked]="selectionDep.isSelected(d)" [aria-label]="checkboxLabelDep(d)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{d.nombre}}</td>
                                    <td>{{d.departamento}}</td>
                                    <td class="d-flex justify-content-center">
                                        <i (click)="GuardarRegistros(d.id)" id="plan" *ngIf="individual"
                                            class="fas fa-thumbs-down" matSuffix matTooltipPosition="right"
                                            matTooltip="Deshabilitar usuarios para uso de timbre de teletrabajo.">
                                            <p>Deshabilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="departamentos.length" [pageSize]="tamanio_pagina_dep"
                        [pageSizeOptions]="pageSizeOptions_dep" (page)="ManejarPaginaResultados($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>

                <!-- TABLA PARA EMPLEADOS -->
                <div *ngIf="_booleanOptions.bool_emp" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados">
                        <span class="w-100 bd-highlight">
                            RESULTADO USUARIOS
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                            (click)="MostrarLista()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple" (change)="$event ? masterToggleEmp() : null"
                                            [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                            [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                            [aria-label]="checkboxLabelEmp()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cédula</th>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombreEmp | paginate:tamanio_pagina_emp:numero_pagina_emp">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionEmp.toggle(e) : null"
                                            [checked]="selectionEmp.isSelected(e)" [aria-label]="checkboxLabelEmp(e)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{e.nombre}}</td>
                                    <td>{{e.cedula}}</td>
                                    <td>{{e.codigo}}</td>
                                    <td class="d-flex justify-content-center">
                                        <i (click)="RegistrarConfiguracion(e, 2)" id="plan" *ngIf="individual"
                                            class="fas fa-thumbs-down" matSuffix matTooltipPosition="right"
                                            matTooltip="Deshabilitar usuario para uso de timbre de teletrabajo.">
                                            <p>Deshabilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="empleados.length" [pageSize]="tamanio_pagina_emp"
                        [pageSizeOptions]="pageSizeOptions_emp" (page)="ManejarPaginaResultados($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>
            </mat-card-content>
        </div>

        <!---------------------------------------- LISTA DE USUARIOS DESHABILITADOS --------------------------------------------------->
        <div style="padding-top: 20px;" *ngIf="activar_deshabilitados">
            <mat-card-content>
                <div id="resultados_dh">
                    <span>LISTAR USUARIOS INACTIVOS TIMBRE TELETRABAJO</span>
                    <mat-icon class="float-right" id="cerrar" (click)="LimpiarFormulario(1)">highlight_off</mat-icon>
                </div>
                <br>
                <form>
                    <mat-radio-group class="d-flex flex-wrap justify-content-center" [formControl]="seleccion_dh">
                        <mat-radio-button class="example-radio-button" *ngFor="let c of check_dh" [value]="c.opcion"
                            (change)="BuscarPorTipo_dh($event)">
                            <label id="textoradiobtn">{{c.valor}}</label>
                        </mat-radio-button>
                    </mat-radio-group>
                </form>

                <!-- FORM PARA SUCURSALES -->
                <form *ngIf="_booleanOptions_dh.bool_suc">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Sucursal</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="dh_filtroNombreSuc_"
                                (input)="Filtrar_DH(dh_filtroNombreSuc_, 1)" [formControl]="nombre_suc_dh" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de sucursales por nombre.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>

                <!-- FORM PARA REGIMEN -->
                <form *ngIf="_booleanOptions_dh.bool_reg">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Regimen laboral</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="dh_filtroNombreReg_"
                                (input)="Filtrar_DH(dh_filtroNombreReg_, 12)" [formControl]="nombre_reg_dh" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de régimen por nombre.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>

                <!-- FORM PARA CARGOS -->
                <form *ngIf="_booleanOptions_dh.bool_cargo">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Cargo</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="dh_filtroNombreCarg_"
                                (input)="Filtrar(dh_filtroNombreCarg_, 2)" [formControl]="nombre_carg_dh" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de cargos por su descripción.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>

                <!-- FORM PARA DEPARTAMENTOS -->
                <form *ngIf="_booleanOptions_dh.bool_dep">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field>
                                    <mat-label>Sucursal</mat-label>
                                    <input matInput placeholder="Buscar" [(ngModel)]="dh_filtroNombreSuc_"
                                        (input)="Filtrar(dh_filtroNombreSuc_, 1)" [formControl]="nombre_suc_dh"
                                        type="text" (keypress)="IngresarSoloLetras($event)">
                                    <mat-icon matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de sucursales por nombre.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-center">
                                <mat-form-field>
                                    <mat-label>Departamento</mat-label>
                                    <input matInput placeholder="Buscar" [(ngModel)]="dh_filtroNombreDep_"
                                        (input)="Filtrar(dh_filtroNombreDep_, 3)" [formControl]="nombre_dep_dh"
                                        type="text" (keypress)="IngresarSoloLetras($event)">
                                    <mat-icon matSuffix matTooltipPosition="right"
                                        matTooltip="Búsqueda de departamentos por nombre.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- FORM PARA EMPLEADOS -->
                <form *ngIf="_booleanOptions_dh.bool_emp">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Código</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="dh_filtroCodigo_"
                                (input)="Filtrar_DH(dh_filtroCodigo_, 4)" [formControl]="codigo_dh"
                                (keypress)="IngresarSoloNumeros($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de empleado por código.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>CI o pasaporte</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="dh_filtroCedula_" maxlength="10"
                                (input)="Filtrar_DH(dh_filtroCedula_, 5)"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                [formControl]="cedula_dh" type="text" (keypress)="IngresarSoloNumeros($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de empleado por cédula de identificación o pasaporte.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Buscar" [(ngModel)]="dh_filtroNombreEmp_"
                                (input)="Filtrar_DH(dh_filtroNombreEmp_, 6)" [formControl]="nombre_emp_dh" type="text"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de empleado por nombre.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>

                <div *ngIf="activar_boton_dh" class="d-flex flex-wrap justify-content-center"
                    style="padding-top: 15px;">
                    <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros_DH(0)">
                        Habilitar usuarios
                    </button>
                    <button id="btn-raised" class="btn btn-sm" (click)="LimpiarFormulario(1)">Cancelar</button>
                </div>

                <hr>

                <!-- TABLA PARA SUCURSALES -->
                <div *ngIf="_booleanOptions_dh.bool_suc" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados_dh">
                        <span class="w-100 bd-highlight">
                            RESULTADO SUCURSALES
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;" matSuffix
                            matTooltipPosition="right"
                            matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos."
                            (click)="MostrarLista_DH()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion_dh" class="flex-shrink-1 bd-highlight"
                                            matSuffix matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion_dh()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple_dh"
                                            (change)="$event ? masterToggleSuc_DH() : null"
                                            [checked]="selectionSuc_dh.hasValue() && isAllSelectedSuc_DH()"
                                            [indeterminate]="selectionSuc_dh.hasValue() && !isAllSelectedSuc_DH()"
                                            [aria-label]="checkboxLabelSuc_DH()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let sdh of sucursales_dh | emplNombre: dh_filtroNombreSuc | paginate:tamanio_pagina_suc_dh:numero_pagina_suc_dh">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_dh_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionSuc_dh.toggle(sdh) : null"
                                            [checked]="selectionSuc_dh.isSelected(sdh)"
                                            [aria-label]="checkboxLabelSuc_DH(sdh)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{sdh.nombre}}</td>
                                    <td class="justify-content-center">
                                        <i (click)="GuardarRegistros_DH(sdh.id)" id="plan_dh" *ngIf="individual_dh"
                                            class="fas fa-thumbs-up" matSuffix matTooltipPosition="right"
                                            matTooltip="Habilitar usuarios para uso de timbre de teletrabajo.">
                                            <p>Habilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="sucursales_dh.length" [pageSize]="tamanio_pagina_suc_dh"
                        [pageSizeOptions]="pageSizeOptions_suc_dh" (page)="ManejarPaginaResultados_DH($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>

                <!-- TABLA PARA SUCURSALES -->
                <div *ngIf="_booleanOptions_dh.bool_reg" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados_dh">
                        <span class="w-100 bd-highlight">
                            RESULTADO SUCURSALES
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;" matSuffix
                            matTooltipPosition="right"
                            matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos."
                            (click)="MostrarLista_DH()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion_dh" class="flex-shrink-1 bd-highlight"
                                            matSuffix matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion_dh()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple_dh"
                                            (change)="$event ? masterToggleReg_DH() : null"
                                            [checked]="selectionReg_dh.hasValue() && isAllSelectedReg_DH()"
                                            [indeterminate]="selectionReg_dh.hasValue() && !isAllSelectedReg_DH()"
                                            [aria-label]="checkboxLabelReg_DH()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let rdh of regimen_dh | emplNombre: dh_filtroNombreReg | paginate:tamanio_pagina_reg_dh:numero_pagina_reg_dh">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_dh_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionReg_dh.toggle(rdh) : null"
                                            [checked]="selectionReg_dh.isSelected(rdh)"
                                            [aria-label]="checkboxLabelReg_DH(rdh)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{rdh.nombre}}</td>
                                    <td class="justify-content-center">
                                        <i (click)="GuardarRegistros_DH(rdh.id)" id="plan_dh" *ngIf="individual_dh"
                                            class="fas fa-thumbs-up" matSuffix matTooltipPosition="right"
                                            matTooltip="Habilitar usuarios para uso de timbre de teletrabajo.">
                                            <p>Habilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="regimen_dh.length" [pageSize]="tamanio_pagina_reg_dh"
                        [pageSizeOptions]="pageSizeOptions_reg_dh" (page)="ManejarPaginaResultados_DH($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>

                <!-- TABLA PARA CARGOS -->
                <div *ngIf="_booleanOptions_dh.bool_cargo" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados_dh">
                        <span class="w-100 bd-highlight">
                            RESULTADO CARGOS
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                            (click)="MostrarLista_DH()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion_dh" class="flex-shrink-1 bd-highlight"
                                            matSuffix matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion_dh()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple_dh"
                                            (change)="$event ? masterToggleCarg_DH() : null"
                                            [checked]="selectionCarg_dh.hasValue() && isAllSelectedCarg_DH()"
                                            [indeterminate]="selectionCarg_dh.hasValue() && !isAllSelectedCarg_DH()"
                                            [aria-label]="checkboxLabelCarg_DH()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let c of cargos_dh | emplNombre: dh_filtroNombreCarg | paginate:tamanio_pagina_car_dh:numero_pagina_car_dh">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_dh_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionCarg_dh.toggle(c) : null"
                                            [checked]="selectionCarg_dh.isSelected(c)"
                                            [aria-label]="checkboxLabelCarg_DH(c)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{c.nombre}}</td>
                                    <td lass="justify-content-center">
                                        <i (click)="GuardarRegistros_DH(c.id)" id="plan_dh" *ngIf="individual_dh"
                                            class="fas fa-thumbs-up" matSuffix matTooltipPosition="right"
                                            matTooltip="Habilitar usuarios para uso de timbre de teletrabajo.">
                                            <p>Habilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="cargos_dh.length" [pageSize]="tamanio_pagina_car_dh"
                        [pageSizeOptions]="pageSizeOptions_car_dh" (page)="ManejarPaginaResultados_DH($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>

                <!-- TABLA PARA DEPARTAMENTOS -->
                <div *ngIf="_booleanOptions_dh.bool_dep" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados_dh">
                        <span class="w-100 bd-highlight">
                            RESULTADO DEPARTAMENTOS
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                            (click)="MostrarLista_DH()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion_dh" class="flex-shrink-1 bd-highlight"
                                            matSuffix matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion_dh()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple_dh"
                                            (change)="$event ? masterToggleDep_DH() : null"
                                            [checked]="selectionDep_dh.hasValue() && isAllSelectedDep_DH()"
                                            [indeterminate]="selectionDep_dh.hasValue() && !isAllSelectedDep_DH()"
                                            [aria-label]="checkboxLabelDep_DH()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Sucursal</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let d of departamentos_dh | emplNombre: dh_filtroNombreSuc | departamento: dh_filtroNombreDep | paginate:tamanio_pagina_dep_dh:numero_pagina_dep_dh">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_dh_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionDep_dh.toggle(d) : null"
                                            [checked]="selectionDep_dh.isSelected(d)"
                                            [aria-label]="checkboxLabelDep_DH(d)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{d.nombre}}</td>
                                    <td>{{d.departamento}}</td>
                                    <td class="d-flex justify-content-center">
                                        <i (click)="GuardarRegistros_DH(d.id)" id="plan_dh" *ngIf="individual_dh"
                                            class="fas fa-thumbs-up" matSuffix matTooltipPosition="right"
                                            matTooltip="Habilitar usuarios para uso de timbre de teletrabajo.">
                                            <p>Habilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="departamentos_dh.length" [pageSize]="tamanio_pagina_dep_dh"
                        [pageSizeOptions]="pageSizeOptions_dep_dh" (page)="ManejarPaginaResultados_DH($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>

                <!-- TABLA PARA EMPLEADOS -->
                <div *ngIf="_booleanOptions_dh.bool_emp" class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resultados_dh">
                        <span class="w-100 bd-highlight">
                            RESULTADO USUARIOS
                        </span>
                        <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                            (click)="MostrarLista_DH()">Mostrar lista</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-icon *ngIf="activar_seleccion_dh" class="flex-shrink-1 bd-highlight"
                                            matSuffix matTooltipPosition="right"
                                            matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                            (click)="HabilitarSeleccion_dh()">
                                            library_add_check
                                        </mat-icon>
                                        <mat-checkbox *ngIf="multiple_dh"
                                            (change)="$event ? masterToggleEmp_DH() : null"
                                            [checked]="selectionEmp_dh.hasValue() && isAllSelectedEmp_DH()"
                                            [indeterminate]="selectionEmp_dh.hasValue() && !isAllSelectedEmp_DH()"
                                            [aria-label]="checkboxLabelEmp_DH()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cédula</th>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let e of empleados_dh | emplCodigo: dh_filtroCodigo | emplCedula: dh_filtroCedula | emplNombre: dh_filtroNombreEmp | paginate:tamanio_pagina_emp_dh:numero_pagina_emp_dh">
                                    <td>
                                        <mat-checkbox *ngIf="multiple_dh_" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionEmp_dh.toggle(e) : null"
                                            [checked]="selectionEmp_dh.isSelected(e)"
                                            [aria-label]="checkboxLabelEmp_DH(e)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{e.nombre}}</td>
                                    <td>{{e.cedula}}</td>
                                    <td>{{e.codigo}}</td>
                                    <td class="d-flex justify-content-center">
                                        <i (click)="RegistrarConfiguracion(e, 1)" id="plan_dh" *ngIf="individual_dh"
                                            class="fas fa-thumbs-up" matSuffix matTooltipPosition="right"
                                            matTooltip="Habilitar usuario para uso de timbre de teletrabajo.">
                                            <p>Habilitar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="empleados_dh.length" [pageSize]="tamanio_pagina_emp_dh"
                        [pageSizeOptions]="pageSizeOptions_emp_dh" (page)="ManejarPaginaResultados_DH($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                    <br>
                </div>
            </mat-card-content>
        </div>

        <div style="padding-top: 25px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div style="padding-top: 20px; padding-bottom: 20px;" *ngIf="activar">
                        <button class="activo btn btn-md btn-block" (click)="VerTablas(1)">
                            USUARIOS ACTIVOS TIMBRE TELETRABAJO
                        </button>
                    </div>
                    <div style="padding-top: 20px;" *ngIf="inactivar">
                        <button class="inactivo btn btn-md btn-block" (click)="VerTablas(2)">
                            USUARIOS INACTIVOS TIMBRE TELETRABAJO
                        </button>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>

    </mat-card>
</div>