#dias {
    font-size: 13px;
}

#calculo {
    font-size: 11px;
}

#fecVaca {
    font-size: 14px;
}

.btn {
    margin-left: 15px;
    background-color: rgb(80, 87, 97);
    color: white;
}

mat-radio-group {
    width: 210px;
    padding: 15px 20px 15px 20x;
    margin-bottom: 10px;
}

mat-form-field {
    padding: 10px 10px 0px 10px;
}

.caja {
    padding: 10px 10px 0px 10px;
}

#nomEmple {
    font-size: 13px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 18px;
}

#Feriado {
    font-size: 14px;
}

.scrollbar {
    float: left;
    height: 450px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

label {
    font-size: 14px;
    margin: 12px 0px 0px 0px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
}