.btn {
    background-color: rgb(80, 87, 97);
    color: white;
    margin: 5px 10px 5px 10px;
}

mat-form-field {
    width: 300px;
    padding: 10px 10px 0px 10px;
}

#letra {
    font-size: 14px;
}
