<br>
<div class="container" style="padding-bottom: 25px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <div class="w-100 bd-highlight">
                <h5>PERIODO DE VACACIONES</h5>
            </div>
        </div>
        <div *ngFor="let p of peridoVacaciones" style="padding-top: 15px;">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Descripción:</label>
                            <label>{{p.descripcion}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Inicia Periodo:</label>
                            <label>{{p.fec_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Finaliza Periodo:</label>
                            <label>{{p.fec_final_}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Vacaciones usadas:</label>
                            <label *ngIf="p.estado == 1">Sí</label>
                            <label *ngIf="p.estado == 2">No</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Días por Antiguedad:</label>
                            <label>{{p.dia_antiguedad}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Días Perdidos:</label>
                            <label>{{p.dia_perdido}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Días de Vacaciones:</label>
                            <label>{{p.dia_vacacion}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Horas de Vacaciones:</label>
                            <label>{{p.horas_vacaciones}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Minutos de Vacaciones:</label>
                            <label>{{p.min_vacaciones}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <div class="w-100 bd-highlight">
                <h5>SOLICITUDES DE VACACIONES</h5>
            </div>
            <div class="flex-shrink-1 bd-highlight" style="margin-right: 10px;">
                <button type="submit" class="btn btn-outline-light btn-sm"
                    (click)="AbrirVentanaVacaciones()">Añadir</button>
            </div>
        </div>
        <div *ngFor="let v of vacaciones | paginate:tamanio_pagina:numero_pagina" style="padding-top: 15px;">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Desde:</label>
                            <label>{{v.fec_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Hasta:</label>
                            <label>{{v.fec_final_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Ingreso:</label>
                            <label>{{v.fec_ingreso_}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Días Laborables:</label>
                            <label>{{v.dia_laborable}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Días Libres:</label>
                            <label>{{v.dia_libre}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Legalizado:</label>
                            <label *ngIf="v.legalizado == true">Sí</label>
                            <label *ngIf="v.legalizado == false">No</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Estado:</label>
                            <label *ngIf="v.estado === 1">Pendiente</label>
                            <label *ngIf="v.estado === 2">Pre-autorizado</label>
                            <label *ngIf="v.estado === 3">Autorizado</label>
                            <label *ngIf="v.estado === 4">Negado</label>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: right;" *ngIf="v.estado === 1">
                <i class="fas fa-edit" id="edit" (click)="EditarVacaciones(v)" matSuffix matTooltipPosition="right"
                    matTooltip="Modificar los datos generales de este registro">
                    <p>Editar</p>
                </i>
                <i class="fas fa-backspace" id="cancel" (click)="CancelarVacaciones(v)" matSuffix
                    matTooltipPosition="right" matTooltip="Cancelar solicitud de vacaciones">
                    <p>Cancelar</p>
                </i>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-paginator id="pagina" [length]="vacaciones.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>