<div id="resultados">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane" id="mover">
        SELECCIONAR IMAGEN
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="ventana.close({actualizar: false})">highlight_off</mat-icon>
</div>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="d-flex flex-wrap justify-content-center" style="padding: 3%;">
                <figure>
                    <div *ngIf="imagen_default; else logoEmpresa">
                        <img src="../../../../../assets/imagenes/photo.png" alt="logo_default" srcset="" width="50%" height="50%"
                            >
                    </div>
                </figure>
                <ng-template #logoEmpresa>
                    <img src="{{logo}}" alt="logo" srcset="" width="50%" height="50%">
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: 20px;">
            <form method="post">
                <input (change)="fileChange($event)" type="file" [formControl]="archivoForm" id="file"
                    accept="image/png, image/jpeg">
                <label for="file" class="btn-2">{{textoBoton}}</label>
            </form>
        </div>
    </div>
</div>





