<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        ELIMINAR REGISTRO
    </span>
    <mat-icon class="float-right" id="cerrar" mat-dialog-close>highlight_off</mat-icon>
</div>
<mat-card-content style="margin-bottom: -2%;">
    <div style="text-align: center; margin: 2%;">
        <p *ngIf="usuarios.length > 1">Los dispositivos seleccionados se eliminaran. <br>
            <b>Los usuarios no podrán realizar marcaciones desde estos dispositivos.</b>
        </p>
        <p *ngIf="usuarios.length < 2">Se eliminara el dispositivo seleccionado. <br>
            <b>El usuario no podrán realizar marcaciones desde este dispositivo.</b>
        </p>
        <p id="mensaje" *ngIf="usuarios.length > 1">¿ESTÁ SEGURO DE ELIMINAR ESTOS REGISTROS?</p>
        <p id="mensaje" *ngIf="usuarios.length < 2">¿ESTÁ SEGURO DE ELIMINAR ESTE REGISTRO?</p>
    </div>
</mat-card-content>
<mat-dialog-content *ngIf="usuarios.length < 2">
    <mat-list>
        <mat-list-item *ngFor="let d of dispositivos" style="height: max-content;">
            <div style="float: left; height: max-content; width: max-content; margin-right: 5%; padding-top: 2%; padding-bottom: 2%;">
                <mat-icon color="primary" style="font-size: 30px;">perm_identity</mat-icon>
            </div>
            <div>
                <p style="font-weight: bold;">
                    {{d.nombre}}<br>
                    Dispositivo: {{d.modelo_dispositivo}}<br>
                    ID dispositivo: {{d.id_dispositivo}}
                </p>
            </div>
        </mat-list-item>
    </mat-list>
    <br>
</mat-dialog-content>

<div class="d-flex flex-wrap justify-content-center" style="padding-top: 5px; margin-bottom: 3%;">
    <button mat-raised-button id="btn-raised" class="float-right" [mat-dialog-close]="dispositivos">Eliminar</button>
    <!--button class="btn btn-sm float-right" mat-dialog-close>Cancelar</button-->
</div>
