<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        ACCIONES TIMBRES
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="this.ventana.close()">highlight_off</mat-icon>
</div>
<div class="container" style="padding-top: 15px;">
    <small>
        Indicar si los equipos biométricos trabajan o no con 3 o 6 acciones.
    </small>
    <hr>
    <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
        <div class="d-flex flex-wrap">
            <div class="caja">
                <div class="d-flex flex-wrap justify-content-start">
                    <mat-radio-group aria-label="Select an option" formControlName="acciones_timbres" required>
                        <label class="d-flex justify-content-center">
                            <mat-icon matSuffix matTooltipPosition="right"
                                matTooltip="Ayuda a identificar si los reportes deben tomar en cuenta los timbres con acciones o sin acciones.">
                                help_outline
                            </mat-icon>
                            <p style="margin-left: 15px;">RELOJ CON ACCIONES (3 o 6)</p>

                        </label>
                        <div class="d-flex justify-content-center">
                            <mat-radio-button [value]="true">
                                <label id="textoradiobtn">Si</label>
                            </mat-radio-button>
                            <mat-radio-button [value]="false">
                                <label id="textoradiobtn">No</label>
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <small>Para guardar los cambios es necesario ingresar nuevamente al sistema.</small>
</div>
<div class="d-flex flex-wrap justify-content-center" style="padding-top: 1%; margin-bottom: 2%;">
    <button id="btn-raised" class="btn btn-sm" (click)="GuardarAccion(formGroup.value)">Guardar</button>
</div>