mat-form-field {
    width: 260px;
    padding: 10px 10px 0px 10px;
}

.btn {
    margin-left: 15px;
    background-color: rgb(80, 87, 97);
    color: white;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 200px;
    align-items: flex-start;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 20px;
}