#letras {
    font-size: 13px;
}

#mensaje {
    font-size: x-small;
}

mat-form-field {
    width: 250px;
    padding: 10px 10px 0px 10px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 30px;
}

mat-radio-group {
    width: 250px;
    padding: 15px 20px 15px 20x;
    margin-bottom: 10px;
}

.btn {
    background-color: rgb(80, 87, 97);
    color: white;
    margin: 5px 10px 5px 10px;
}

.subtitulo {
    font-weight: bold;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

#icono {
    color: rgba(8, 10, 124, 0.828);
}