<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        REGISTRAR TIMBRE
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="ventana.close({close: true})">highlight_off</mat-icon>
</div>

<form [formGroup]="formulario">
    <div class="container">
        <div class="nota" id="espacio">
            <span>
                NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Timbrar.
            </span>
        </div>
        <div class="d-flex flex-wrap justify-content-between">
            <mat-form-field>
                <mat-label>Fecha timbre</mat-label>
                <input id="i-cursor" matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControl]="FechaF"
                    required>
                <mat-datepicker-toggle matSuffix [for]="picker" matTooltipPosition="right"
                    matTooltip="Seleccionar fecha dando click en el icono de calendario o escribir fecha con formato día/mes/año. Ejemplo: 12/04/1993">
                </mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hora timbre</mat-label>
                <input id="i-cursor" matInput type="time" [formControl]="HoraF">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Acción timbre</mat-label>
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right" matTooltip="Acciónes de la marcación.">
                    help_outline
                </mat-icon>
                <mat-select [formControl]="accionF">
                    <mat-option *ngFor="let a of accion" [value]="a.value">
                        {{a.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div style="text-align: center; padding-bottom: 5px;">
        <button class="btn" [disabled]="!formulario.valid" (click)="InsertarTimbre(formulario.value)">
            Timbrar
        </button>
    </div>
</form>