.btn {
    background-color: rgb(80, 87, 97);
    color: white;
    margin: 5px 10px 5px 10px;
}

p {
    font-size: x-small;
}

table {
    width: 100%;
    font-size: 12px;
}

td {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}

#centrado {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}