<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        REGISTRA PROVINCIA - DEPARTAMENTO - ESTADO
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
</div>
<form [formGroup]="formulario">
    <div class="container">
        <div class="nota" id="espacio">
            <span>
                NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.
            </span>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Seleccionar continente</mat-label>
                        <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                            matTooltip="Seleccionar un continente.">
                            help_outline
                        </mat-icon>
                        <mat-select [formControl]="nombreContinenteF" required>
                            <mat-option *ngFor="let c of continentes" [value]="c.continente"
                                (click)="FiltrarPaises(formulario.value)">
                                {{c.continente}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Seleccionar país</mat-label>
                        <input type="text" aria-label="Number" matInput [formControl]="nombrePaisF"
                            [matAutocomplete]="auto" required>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre">
                                {{option.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                            matTooltip="Lista de países que se encuentran en el continente seleccionado.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label id="letras">Provincia-Departamento-Estado</mat-label>
                        <input matInput placeholder="Ej: Pichincha" [formControl]="nombreProvinciaF"
                            (keypress)="IngresarSoloLetras($event)" required>
                        <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                            matTooltip="Ingresar nombre de una provincia, departamento o estado ubicado en el país seleccionado.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center" style="padding-top: 10px; margin-bottom: 2%;">
        <button id="btn-raised" class="btn btn-sm" [disabled]="!formulario.valid" value="Guardar"
            (click)="InsertarProvincia(formulario.value)">
            Guardar
        </button>
    </div>
</form>