<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        REGISTRAR NIVEL TÍTULO PROFESIONAL
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
</div>
<form [formGroup]="formulario">
    <div class="container" style="text-align: center;">
        <div class="nota" id="espacio" style="text-align: justify;">
            <span>
                NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.
            </span>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Nivel de título</mat-label>
                <input matInput placeholder="PHD" [formControl]="nombre" (keypress)="IngresarSoloLetras($event)"
                    required>
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                    matTooltip="Ingresar nivel de título profesional.">
                    help_outline
                </mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center" style="padding-top: 10px; margin-bottom: 2%;">
        <button id="btn-raised" class="btn btn-sm" (click)="InsertarNivelTitulo(formulario.value)"
            [disabled]="!formulario.valid" value="Guardar">
            Guardar
        </button>
    </div>
</form>