<div id="resultados">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        INFORMACIÓN DEL TIMBRE
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="ventana.close()">highlight_off</mat-icon>
</div>
<div class="container">
    <div class="nota">
        <div class="row">
            <div class="col-md-4" style="text-align: center !important;">
                <b *ngIf="rolEmpleado == '1'">
                    {{timbre.empleado}}
                </b>
                <i class="fas fa-solid fa-user-clock" matSuffix matTooltipPosition="left" matTooltip="Ver timbre."
                    style="font-size: 120px; color: rgb(10, 62, 110);">
                </i>
                <br><b>
                    ID RELOJ: {{timbre.id_reloj}}
                </b>
            </div>
            <div class="col-md-8">
                <br>
                <div class="row">
                    <div class="col-md-4" style="text-align: right !important; color: rgb(14, 15, 15);">
                        Fecha del timbre:
                    </div>
                    <div class="col-md-8" style="text-align: left !important; color: rgb(14, 15, 15);">
                        {{fecha_timbre}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right !important; color: rgb(14, 15, 15);">
                        Hora del timbre:
                    </div>
                    <div class="col-md-8" style="text-align: left !important; color: rgb(14, 15, 15);">
                        {{hora_timbre}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right !important; color: rgb(14, 15, 15);">
                        Acción del timbre:
                    </div>
                    <div class="col-md-8" style="text-align: left !important; color: rgb(14, 15, 15);">
                        {{accion}} ({{timbre.accion}})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right !important; color: rgb(14, 15, 15);">
                        Tecla función:
                    </div>
                    <div class="col-md-8" style="text-align: left !important; color: rgb(14, 15, 15);">
                        {{timbre.tecl_funcion}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right !important; color: rgb(14, 15, 15);">
                        Ubicación:
                    </div>
                    <div class="col-md-8" style="text-align: left !important; color: rgb(14, 15, 15);">
                        lat: {{timbre.latitud}} / long: {{timbre.longitud}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right !important; color: rgb(14, 15, 15);">
                        Observación del timbre:
                    </div>
                    <div class="col-md-8" style="text-align: left !important; color: rgb(14, 15, 15);">
                        {{timbre.observacion}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right !important; color: rgb(14, 15, 15);">
                        Novedades:
                    </div>
                    <div class="col-md-8" style="text-align: left !important; color: rgb(14, 15, 15);">
                        {{timbre.novedades_conexion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>