<!--  ************************** VER PANTALLA CRITERIOS DE BUSQUEDA  *****************************  -->
<div style="padding-top: 20px;" *ngIf="ver_busqueda">
    <div id="titulo">PLANIFICACIÓN DE HORAS EXTRAS</div>
    <mat-card class="example-card mat-elevation-z9">
        <mat-card-content>
            <div id="resultados">
                <span>CRÍTERIOS DE BÚSQUEDA</span>
            </div>
            <br>
            <form>
                <mat-radio-group class="d-flex flex-wrap justify-content-center" [formControl]="seleccion">
                    <mat-radio-button class="example-radio-button" *ngFor="let c of check" [value]="c.opcion"
                        (change)="BuscarPorTipo($event)">
                        <label id="textoradiobtn">{{c.valor}}</label></mat-radio-button>
                </mat-radio-group>
            </form>
            <!-- FORM PARA SUCURSALES -->
            <form *ngIf="_booleanOptions.bool_suc">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Sucursal</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreSuc_"
                            (input)="Filtrar(filtroNombreSuc_, 1)" [formControl]="nombre_suc" type="text"
                            (keypress)="IngresarSoloLetras($event)">
                        <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de sucursales por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </form>
            <!-- FORM PARA REGIMEN -->
            <form *ngIf="_booleanOptions.bool_reg">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Regimen laboral</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreReg_"
                            (input)="Filtrar(filtroNombreReg_, 7)" [formControl]="nombre_reg" type="text"
                            (keypress)="IngresarSoloLetras($event)">
                        <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de régimen por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </form>
            <!-- FORM PARA CARGOS -->
            <form *ngIf="_booleanOptions.bool_cargo">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Cargo</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreCarg_"
                            (input)="Filtrar(filtroNombreCarg_, 2)" [formControl]="nombre_carg" type="text"
                            (keypress)="IngresarSoloLetras($event)">
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de cargos por su descripción.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </form>
            <!-- FORM PARA DEPARTAMENTOS -->
            <form *ngIf="_booleanOptions.bool_dep">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Departamento</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreDep_"
                            (input)="Filtrar(filtroNombreDep_, 2)" [formControl]="nombre_dep" type="text"
                            (keypress)="IngresarSoloLetras($event)">
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de departamentos por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </form>
            <!-- FORM PARA EMPLEADOS -->
            <form *ngIf="_booleanOptions.bool_emp">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroCodigo_"
                            (input)="Filtrar(filtroCodigo_, 3)" [formControl]="codigo"
                            (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de datos de empleado por código.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>CI o pasaporte</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroCedula_" maxlength="10"
                            (input)="Filtrar(filtroCedula_, 4)"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de datos de empleado por cédula de identificación o pasaporte.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nombres</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreEmp_"
                            (input)="Filtrar(filtroNombreEmp_, 5)" [formControl]="nombre_emp" type="text"
                            (keypress)="IngresarSoloLetras($event)">
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de datos de empleado por nombre.">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </form>

            <div *ngIf="activar_boton" class="d-flex flex-wrap justify-content-center" style="padding-top: 15px;">
                <button id="btn-raised" class="btn btn-sm" (click)="GuardarRegistros(0)">Planificar</button>
                <button id="btn-raised" class="btn btn-sm" (click)="LimpiarFormulario()">Cancelar</button>
            </div>

            <hr>
            <!-- TABLA PARA SUCURSALES -->
            <div *ngIf="_booleanOptions.bool_suc" class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO SUCURSALES
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">
                        Mostrar lista
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleSuc() : null"
                                        [checked]="selectionSuc.hasValue() && isAllSelectedSuc()"
                                        [indeterminate]="selectionSuc.hasValue() && !isAllSelectedSuc()"
                                        [aria-label]="checkboxLabelSuc()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Planificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let s of sucursales | emplNombre: filtroNombreSuc | paginate:tamanio_pagina_suc:numero_pagina_suc">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionSuc.toggle(s) : null"
                                        [checked]="selectionSuc.isSelected(s)" [aria-label]="checkboxLabelSuc(s)">
                                    </mat-checkbox>
                                </td>
                                <td>{{s.nombre}}</td>
                                <td class="justify-content-center">
                                    <i (click)="GuardarRegistros(s.id)" id="plan" *ngIf="auto_individual"
                                        class="fa fa-list-alt" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de registro de planificación de horas extras."
                                        [ngStyle]="habilitado">
                                        <p>Planificar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina_suc"
                    [pageSizeOptions]="pageSizeOptions_suc" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>
            <!-- TABLA PARA REGIMEN -->
            <div *ngIf="_booleanOptions.bool_reg" class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO REGIMEN LABORAL
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">
                        Mostrar lista
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleReg() : null"
                                        [checked]="selectionReg.hasValue() && isAllSelectedReg()"
                                        [indeterminate]="selectionReg.hasValue() && !isAllSelectedReg()"
                                        [aria-label]="checkboxLabelReg()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Planificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let r of regimen | emplNombre: filtroNombreReg | paginate:tamanio_pagina_reg:numero_pagina_reg">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionReg.toggle(r) : null"
                                        [checked]="selectionReg.isSelected(r)" [aria-label]="checkboxLabelReg(r)">
                                    </mat-checkbox>
                                </td>
                                <td>{{r.nombre}}</td>
                                <td class="justify-content-center">
                                    <i (click)="GuardarRegistros(r.id)" id="plan" *ngIf="auto_individual"
                                        class="fa fa-list-alt" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de registro de planificación de horas extras."
                                        [ngStyle]="habilitado">
                                        <p>Planificar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina_suc"
                    [pageSizeOptions]="pageSizeOptions_suc" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>
            <!-- TABLA PARA CARGOS -->
            <div *ngIf="_booleanOptions.bool_cargo" class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO CARGOS
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">
                        Mostrar lista
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleCarg() : null"
                                        [checked]="selectionCarg.hasValue() && isAllSelectedCarg()"
                                        [indeterminate]="selectionCarg.hasValue() && !isAllSelectedCarg()"
                                        [aria-label]="checkboxLabelCarg()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Planificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let c of cargos | emplNombre: filtroNombreCarg | paginate:tamanio_pagina_car:numero_pagina_car">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionCarg.toggle(c) : null"
                                        [checked]="selectionCarg.isSelected(c)" [aria-label]="checkboxLabelCarg(c)">
                                    </mat-checkbox>
                                </td>
                                <td>{{c.nombre}}</td>
                                <td class="justify-content-center">
                                    <i (click)="GuardarRegistros(c.id)" id="plan" *ngIf="auto_individual"
                                        class="fa fa-list-alt" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de registro de planificación de horas extras."
                                        [ngStyle]="habilitado">
                                        <p>Planificar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="cargos.length" [pageSize]="tamanio_pagina_car"
                    [pageSizeOptions]="pageSizeOptions_car" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>
            <!-- TABLA PARA DEPARTAMENTOS -->
            <div *ngIf="_booleanOptions.bool_dep" class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO DEPARTAMENTOS
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">
                        Mostrar lista
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleDep() : null"
                                        [checked]="selectionDep.hasValue() && isAllSelectedDep()"
                                        [indeterminate]="selectionDep.hasValue() && !isAllSelectedDep()"
                                        [aria-label]="checkboxLabelDep()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Establecimiento</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Planificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let d of departamentos | emplNombre: filtroNombreSuc | departamento: filtroNombreDep | paginate:tamanio_pagina_dep:numero_pagina_dep">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionDep.toggle(d) : null"
                                        [checked]="selectionDep.isSelected(d)" [aria-label]="checkboxLabelDep(d)">
                                    </mat-checkbox>
                                </td>
                                <td>{{d.nombre}}</td>
                                <td>{{d.departamento}}</td>
                                <td class="justify-content-center">
                                    <i (click)="GuardarRegistros(d.id)" id="plan" *ngIf="auto_individual"
                                        class="fa fa-list-alt" matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de registro de planificación de horas extras."
                                        [ngStyle]="habilitado">
                                        <p>Planificar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="departamentos.length" [pageSize]="tamanio_pagina_dep"
                    [pageSizeOptions]="pageSizeOptions_dep" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>

            <!-- TABLA PARA EMPLEADOS -->
            <div *ngIf="_booleanOptions.bool_emp" class="mat-elevation-z8" style="background: white;">
                <div class="d-flex bd-highlight" id="resultados">
                    <span class="w-100 bd-highlight">
                        RESULTADO USUARIOS
                    </span>
                    <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                        (click)="MostrarLista()">
                        Mostrar lista
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-icon *ngIf="activar_seleccion" class="flex-shrink-1 bd-highlight" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Dar clic para activar selección múltiple." id="SelectCheck"
                                        (click)="HabilitarSeleccion()">
                                        library_add_check
                                    </mat-icon>
                                    <mat-checkbox *ngIf="plan_multiple" (change)="$event ? masterToggleEmp() : null"
                                        [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                        [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                        [aria-label]="checkboxLabelEmp()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cédula</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Planificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombreEmp | paginate:tamanio_pagina_emp:numero_pagina_emp">
                                <td>
                                    <mat-checkbox *ngIf="plan_multiple_" (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionEmp.toggle(e) : null"
                                        [checked]="selectionEmp.isSelected(e)" [aria-label]="checkboxLabelEmp(e)">
                                    </mat-checkbox>
                                </td>
                                <td>{{e.nombre}}</td>
                                <td>{{e.cedula}}</td>
                                <td>{{e.codigo}}</td>
                                <td class="justify-content-center">
                                    <i (click)="Planificar(e)" id="plan" *ngIf="auto_individual" class="fa fa-list-alt"
                                        matSuffix matTooltipPosition="right"
                                        matTooltip="Abrir formulario de registro de planificación de horas extras."
                                        [ngStyle]="habilitado">
                                        <p>Planificar</p>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="empleados.length" [pageSize]="tamanio_pagina_emp"
                    [pageSizeOptions]="pageSizeOptions_emp" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
                <br>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!--  ************************** VER FORMULARIO DE PLANIFICACION  *****************************  -->
<app-plan-hora-extra *ngIf="ver_planificar" [data]="seleccion_usuarios"></app-plan-hora-extra>