<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="container" style="padding-bottom: 15px;">
        <mat-card class="mat-elevation-z8">
            <div id="titulo">
                <h5>INFORMACIÓN DE HORA EXTRA</h5>
            </div>
            <mat-card-content>
                <div class="container" style="padding-top: 15px;" *ngFor="let h of hora_extra">
                    <div class="row">
                        <div class="col-md">
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Colaborador:</label>
                                <label>{{h.fullname}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Cédula:</label>
                                <label>{{h.cedula}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Motivo:</label>
                                <label>{{h.descripcion}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Fecha Solicitud:</label>
                                <label>{{h.fec_solicita_}}</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Fecha Desde:</label>
                                <label>{{h.fecha_inicio_}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Fecha Hasta:</label>
                                <label>{{h.fecha_fin_}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Hora Desde:</label>
                                <label>{{h.hora_inicio_}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Hora Hasta:</label>
                                <label>{{h.hora_fin_}}</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Horas Solicitadas:</label>
                                <label>{{h.num_hora}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start" *ngIf="h.estado != 1 && h.estado != 4">
                                <label id="datosF">Horas Aprobadas:</label>
                                <label>{{h.tiempo_autorizado}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="text-align: right;">
                        <i id="iconos" *ngIf="HabilitarAutorizacion" class="fas fa-stopwatch"
                            style="color:rgb(58, 90, 231);" (click)="AbrirAprobacion(h, '', 1)"
                            matTooltipPosition="right" matTooltip="Agrega más tipos de permisos de este departamento.">
                            <p>Autorización</p>
                        </i>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="container" style="padding-bottom: 15px;">
        <mat-card class="mat-elevation-z8">
            <div id="titulo">
                <h5>INFORMACIÓN DE LA APROBACIÓN</h5>
            </div>
            <mat-card-content>
                <div class="container" style="padding-top: 15px;" *ngFor="let a of autorizacion">
                    <div class="row" style="padding-top: 15px;">
                        <div class="col">
                            <div *ngFor="let ea of empleado_estado">
                                <div class="row">
                                    <div class="col-md">
                                        <div class="caja1 d-flex justify-content-start">
                                            <label id="datosF">Revisado por:</label>
                                            <label>{{ea.nombre}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="caja1 d-flex justify-content-start">
                                            <label id="datosF">Departamento:</label>
                                            <label>{{ea.departamento}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="caja1 d-flex justify-content-start">
                                            <label id="datosF">Acción:</label>
                                            <label>{{ea.estado}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="!estado" class="caja1 d-flex justify-content-start">
                                <label id="datosF">La solicitud esta en estado: Pendiente <br></label>&nbsp;&nbsp;
                                <label id="datosF">La solicitud debe ser autorizada primero para descargar la informacion</label>
                            </div>
                            
                            <div *ngIf="estado" class="caja1 d-flex justify-content-start">
                                <label id="datosF">Descargar Solicitud:</label>
                                <label>
                                    <i id="iconos"  (click)="GenerarPdf('download')" matSuffix matTooltipPosition="right"
                                        matTooltip="Descargar Solicitud de Permiso en formato PDF">
                                        <label
                                        style="font-size: 14px; color: red; font-weight: bold;">Solicitud.pdf</label>
                                    </i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="habilitarActualizar" style="margin-top: 15px;" [hidden] = "ocultar">
                        <div class="d-flex flex-wrap justify-content-around" *ngFor="let h of hora_extra">
                            <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                                <button type="button" class="btn btn-sm"
                                    (click)="AbrirAprobacion(h, 'aprobar', a)">
                                    <i id="iconos" class="fa fa-edit" style="color: rgb(71, 255, 111);"></i>
                                    Aprobar
                                </button>
                            </div>
                            <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                                <button type="button" class="btn btn-sm"
                                    (click)="AbrirAprobacion(h, 'editar', a)">
                                    <i id="iconos" class="far fa-clock" style="color: rgb(88, 210, 255);"></i>
                                    Actualizar Horas
                                </button>
                            </div>
                            <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                                <button type="submit" class="btn btn-sm"
                                    (click)="AbrirAprobacion(h, 'observacion', a)" matSuffix matTooltipPosition="right"
                                    matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                                    <i id="iconos" class="far fa-comment" style="color: rgb(215, 121, 255);"></i>
                                    Enviar Observación
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>