.mat-radio-button~.mat-radio-button {
    margin-left: 20px;
}

.btn {
    margin-left: 15px;
    background-color: rgb(80, 87, 97);
    color: white;
}

mat-radio-group {
    width: 210px;
    padding: 15px 20px 15px 20x;
    margin-bottom: 10px;
}

#textlabel {
    font-size: 14px;
    margin: 12px 0px 0px 0px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
}