.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

mat-form-field { padding: 10px 0px 0px 10px; width: 350px;}

.abrv {  padding: 10px 10px 0px 10px; width: 80px; font-size: 14px;}

.nombre {  padding: 10px 10px 0px 0px; width: 280px; font-size: 14px;}

.letra { font-size: 14px; }

.numero { font-size: 11px; }

.contenedor-medio{
    width: 9rem;
}

.contenedor-completo{
    width: 18rem;
}

.columna{
    margin-top: 1.5rem;
}

