<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        SOLICITUD DE REALIZACIÓN DE HORA EXTRA
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="ventana.close()">highlight_off</mat-icon>
</div>
<div>
    <div class="nota">
        <span>
            NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
            Guardar.
        </span>
    </div>
    <form [formGroup]="PedirHoraExtraForm">
        <div class="row">
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-around">
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <input matInput [formControl]="descripcionF" required>
                        <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                            matTooltip="Indicar una observación de solicitud de horas extras">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Fecha inicio actividades</mat-label>
                        <input matInput [matDatepicker]="picker2" [formControl]="fechaInicioF" required>
                        <mat-datepicker-toggle matSuffix [for]="picker2" id="i-cursor" matTooltipPosition="right"
                            matTooltip="Fecha de inicio de horas extras. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Fecha fin actividades</mat-label>
                        <input matInput [matDatepicker]="picker3" [formControl]="FechaFinF"
                            (dateInput)="ValidarFechas(PedirHoraExtraForm.value)" required>
                        <mat-datepicker-toggle matSuffix [for]="picker3" id="i-cursor" matTooltipPosition="right"
                            matTooltip="Fecha en la que finaliza actividades de horas extras. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-around">
                    <mat-form-field>
                        <mat-label>Hora de inicio</mat-label>
                        <input matInput [formControl]="horaInicioF" type="time" (keypress)="IngresarSoloNumeros($event)"
                            (click)="LimpiarCampoHoras()" required>
                        <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                            matTooltip="Hora en la que inicia actividades de horas extras">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Hora de finalización</mat-label>
                        <input matInput [formControl]="horaFinF" type="time" (keypress)="IngresarSoloNumeros($event)"
                            (click)="LimpiarCampoHoras()" required>
                        <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                            matTooltip="Hora en la que finaliza las actividades de horas extras">
                            help_outline
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Número de horas y minutos</mat-label>
                        <input matInput [formControl]="horasF" type="time" (keypress)="IngresarSoloNumeros($event)"
                            readonly required>
                        <mat-icon (click)="CalcularTiempo(PedirHoraExtraForm.value)" id="i-cursor" matSuffix
                            matTooltipPosition="right"
                            matTooltip="Dar click para calcular total de horas extras a solicitar" style="color:blue">
                            touch_app
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-around">
                    <section class="d-flex flex-column bd-highlight">
                        <div class="bd-highlight">
                            <form method="post" enctype="multipart/form-data">
                                <input (change)="fileChange($event)" type="file" [formControl]="archivoForm" id="file">
                                <label for="file" class="btn-2" (click)="LimpiarNombreArchivo()">Subir
                                    Respaldo
                                </label>
                            </form>
                        </div>
                        <div class="bd-highlight" style="text-align: center;">
                            <input type="text" id="respaldo" placeholder="Ningún archivo seleccionado"
                                class="form-control" style="width: 200px;" [formControl]="respaldoF" readonly>
                            <i *ngIf="HabilitarBtn" class="far fa-trash-alt" style="color:red; margin-left: 5px;"
                                id="i-cursor" (click)="RetirarArchivo()" matSuffix matTooltipPosition="right"
                                matTooltip="Eliminar archivo seleccionado.">
                            </i>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="d-flex flex-wrap justify-content-center" style="padding-top: 1%; margin-bottom: 2%;">
        <button id="btn-raised" class="btn btn-sm" (click)="InsertarSolicitud(PedirHoraExtraForm.value)"
            [disabled]="!PedirHoraExtraForm.valid">
            Guardar
        </button>
    </div>
</div>