<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        MODIFICAR TÍTULO PROFESIONAL
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="Cancelar()" matSuffix matTooltipPosition="right"
        matTooltip="Salir">
        highlight_off
    </mat-icon>
</div>
<form [formGroup]="formulario">
    <mat-card-content>
        <div class="container" style="text-align: center;">
            <div class="nota" style="text-align: justify;">
                <span>
                    NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.
                </span>
            </div>
            <mat-form-field>
                <mat-label>Seleccionar título</mat-label>
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                    matTooltip="Seleccionar título profesional que disponga el usuario.">
                    help_outline
                </mat-icon>
                <mat-select [formControl]="idTitulo" required>
                    <mat-option *ngFor="let ct of cgTitulos" [value]="ct.id">
                        {{ct.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Observaciones</mat-label>
                <input matInput placeholder="ejemplo" (keypress)="IngresarSoloLetras($event)" [formControl]="observa"
                    required>
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                    matTooltip="Ingresar una descripción corta.">
                    help_outline
                </mat-icon>
            </mat-form-field>
        </div>
    </mat-card-content>
    <div style="text-align: center; margin-bottom: 2%;">
        <button id="btn-raised" class="btn btn-sm" (click)="ActualizarTituloEmpleado(formulario.value)"
            [disabled]="!formulario.valid" type="submit">
            Guardar
        </button>
        <button type="submit" id="btn-raised" class="btn btn-sm" (click)="VerificarTitulo()"
            matTooltip="Verificar título profesional del empleado antes de registrarlo.">
            Verificar
        </button>
    </div>
</form>