<div id="resultados">
    <span style="margin: auto;">APROBACIÓN SERVICIO DE ALIMENTACIÓN</span>
    <mat-icon class="float-right" id="cerrar" (click)="Cerrar()">highlight_off</mat-icon>
</div>
<div>
    <br *ngIf="multiple">
    <mat-card-content *ngIf="multiple">
        <div class="row">
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                    <button mat-button type="button" class="btn btn-sm"
                        (click)="ActualizarEstadoMultiple(true)">Autorizar
                    </button>
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                    <button mat-button type="button" class="btn btn-sm" (click)="ActualizarEstadoMultiple(false)">Negar
                    </button>
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                    <button mat-button type="submit" class="btn btn-sm" (click)="Cerrar()">Cancelar
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="individual">
        <div class="container" style="padding-top: 15px;">
            <div class="row">
                <div class="col-md">
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Colaborador:</label>
                        <label>{{data.datosMultiple.nombre}} {{data.datosMultiple.apellido}}</label>
                    </div>
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Cédula:</label>
                        <label>{{data.datosMultiple.cedula}}</label>
                    </div>
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Servicio:</label>
                        <label>{{data.datosMultiple.nombre_servicio}}</label>
                    </div>
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Menú:</label>
                        <label>{{data.datosMultiple.nombre_menu}}</label>
                    </div>
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Alimentación:</label>
                        <label>{{data.datosMultiple.nombre_plato}}</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Fecha:</label>
                        <label>{{data.datosMultiple.fecha_comida_}}</label>
                    </div>
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Hora Inicio:</label>
                        <label>{{data.datosMultiple.hora_inicio_}}</label>
                    </div>
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Hora Fin:</label>
                        <label>{{data.datosMultiple.hora_fin_}}</label>
                    </div>
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Precio:</label>
                        <label>{{data.datosMultiple.valor}}</label>
                    </div>
                    <div class="d-flex justify-content-start">
                        <label id="datosF">Estado:</label>
                        <label *ngIf="data.datosMultiple.aprobada === false">Pendiente de aprobación</label>
                        <label *ngIf="data.datosMultiple.aprobada === 'AUTORIZADO'">Autorizado</label>
                        <label *ngIf="data.datosMultiple.aprobada === 'NEGADO'">Negado</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md" *ngIf="boton_autorizar">
                    <div class="d-flex justify-content-around" style="padding-bottom: 10px;">
                        <button id="btn-raised"  class="btn btn-sm" (click)="ActualizarEstado(true)">Autorizar
                        </button>
                    </div>
                </div>
                <div class="col-md" *ngIf="boton_negar">
                    <div class="d-flex justify-content-around" style="padding-bottom: 10px;">
                        <button id="btn-raised"  class="btn btn-sm" (click)="ActualizarEstado(false)">Negar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>

</div>