<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight" id="titulo">
            <button class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px;"
                (click)="VerListaRegimen()">
                Listar régimen laboral
            </button>
            <span class="w-100 bd-highlight">
                {{regimen.descripcion}}
            </span>
            <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                (click)="AbrirEditar(regimen.id)">
                Editar
            </button>
        </div>
        <mat-card-content>
            <!-- ****************** INFORMACION GENERAL DEL REGISTRO ***************************** -->
            <div class="container" style="padding-top: 30px;">
                <div id="resultados">
                    <span>INFORMACION GENERAL</span>
                </div>
                <div class="container" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">País:</label>
                                <label>{{regimen.pais}}</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Meses periodo:</label>
                                <label>{{regimen.mes_periodo}} meses</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días por mes:</label>
                                <label>{{regimen.dias_mes}} días</label>
                            </div>
                        </div>

                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start" *ngIf="regimen.tiempo != false">
                                <label id="datosF">Tiempo limite de servicios:</label>
                                <label>{{regimen.tiempo}}</label>
                            </div>
                            <div class="espacio d-flex justify-content-start"
                                *ngIf="regimen.continuidad_laboral != false">
                                <label id="datosF">Requerido:</label>
                                <label>Periodo continuo de servicio</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************** VACACIONES ***************************** -->
            <div class="container" style="padding-top: 30px;">
                <div id="resultados">
                    <span>VACACIONES</span>
                </div>
                <div class="container" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días hábiles:</label>
                                <label>{{regimen.vacacion_dias_laboral}} días</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días libres:</label>
                                <label>{{regimen.vacacion_dias_libre}} días</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días calendario:</label>
                                <label>{{regimen.vacacion_dias_calendario}} días</label>
                            </div>
                            <div class="espacio d-flex justify-content-start" *ngIf="regimen.acumular === true">
                                <label id="datosF">Días máximos acumulación:</label>
                                <label>{{regimen.dias_max_acumulacion}} días</label>
                            </div>
                        </div>

                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start"
                                *ngIf="regimen.contar_feriados === true || regimen.contar_dias_libres === true || regimen.contar_licencias === true || regimen.contar_faltas === true || regimen.contar_permiso === true">
                                <label id="datosF">Solicitudes de vacaciones contabiliza:</label>
                            </div>
                            <div class="espacio d-flex justify-content-start" style="position: relative; left: 40px;"
                                *ngIf="regimen.contar_feriados === true">
                                <mat-checkbox matSuffix matTooltipPosition="right" disabled
                                    [checked]="regimen.contar_feriados"
                                    matTooltip="Dentro de la solicitud de vacaciones se contabilizará feriados.">
                                    <span id="color_fuente">Feriados</span>
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************** PROPORCIONALES DE VACACIONES ***************************** -->
            <div class="container" style="padding-top: 30px;">
                <div id="resultados">
                    <span>PROPORCIONALES DE VACACIONES</span>
                </div>
                <div class="container" style="padding-top: 20px;">
                    <div class="row">
                        <div class="espacio d-flex justify-content-start" style="padding-bottom: 10px;">
                            <label id="datosF">Meses de periodo considerados en el cálculo: </label>
                            <label>{{regimen.meses_calculo}} meses</label>
                        </div>
                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días hábiles ganados por mes:</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label>{{regimen.vacacion_dias_laboral_mes}} días</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días calendario ganados por mes:</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label>{{regimen.vacacion_dias_calendario_mes}} días</label>
                            </div>
                        </div>
                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días hábiles ganados por día:</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label>{{regimen.laboral_dias}} días</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días calendario ganados por día:</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label>{{regimen.calendario_dias}} días</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************** VACACIONES POR PERIODOS ***************************** -->
            <div class="container" style="padding-top: 30px;" *ngIf="ver_periodo">
                <div id="resultados">
                    <span>VACACIONES POR PERIODOS</span>
                </div>
                <div class="container" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-md" id="verticalLine" *ngFor="let p of periodo">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Descripción:</label>
                                <label>{{p.descripcion}}</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días de vacaciones:</label>
                                <label>{{p.dias_vacacion}} días</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************** ANTIGUEDAD VARIABLE ***************************** -->
            <div class="container" style="padding-top: 30px;" *ngIf="ver_antiguedad_variable">
                <div id="resultados">
                    <span>VACACIONES ANTIGUEDAD</span>
                </div>
                <div class="container" style="padding-top: 20px;" *ngFor="let a of antiguedad">
                    <div class="row">
                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Desde:</label>
                                <label>{{a.anio_desde}} años</label>
                            </div>
                        </div>
                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Hasta:</label>
                                <label>{{a.anio_hasta}} años</label>
                            </div>
                        </div>
                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días de vacaciones:</label>
                                <label>{{a.dias_antiguedad}} días</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- ****************** ANTIGUEDAD FIJA ***************************** -->
            <div class="container" style="padding-top: 30px;" *ngIf="ver_antiguedad_fija">
                <div id="resultados">
                    <span>VACACIONES ANTIGUEDAD</span>
                </div>
                <div class="container" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-md" id="verticalLine">
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Años de antiguedad:</label>
                                <label>{{regimen.anio_antiguedad}} años</label>
                            </div>
                            <div class="espacio d-flex justify-content-start">
                                <label id="datosF">Días de antiguedad:</label>
                                <label>{{regimen.dias_antiguedad}} días</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>