<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        MODIFICAR DATOS
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
</div>
<div style="text-align: center">
    <form [formGroup]="asignarCiudadForm">
        <mat-card-content>
            <div class="container">
                <div class="nota">
                    <span>
                        NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                        Guardar.
                    </span>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-around">
                            <mat-form-field>
                                <mat-label>Seleccionar continente</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Lista de continentes.">
                                    help_outline</mat-icon>
                                <mat-select [formControl]="nombreContinenteF" required>
                                    <mat-option *ngFor="let c of continentes" [value]="c.continente"
                                        (click)="FiltrarPaises(asignarCiudadForm.value)">
                                        {{c.continente}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Seleccionar país</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Lista de países del continente seleccionado.">
                                    help_outline</mat-icon>
                                <mat-select [formControl]="nombrePaisF" required>
                                    <mat-option *ngFor="let pais of paises" [value]="pais.id"
                                        (click)="FiltrarProvincias(asignarCiudadForm.value)">
                                        {{pais.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-around">
                            <mat-form-field>
                                <mat-label id="letras">Seleccionar provincia</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Lista de provincias, departamentos o estados del país seleccionado.">
                                    help_outline
                                </mat-icon>
                                <mat-select [formControl]="idProvinciaF" required>
                                    <mat-option *ngFor="let pro of provincias" [value]="pro.nombre"
                                        (click)="FiltrarCiudades(asignarCiudadForm.value)">
                                        {{pro.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Seleccionar ciudad</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Lista de ciudades de la provincia, departamento o estado seleccionado.">
                                    help_outline
                                </mat-icon>
                                <mat-select [formControl]="nombreCiudadF" required>
                                    <mat-option *ngFor="let ciudad of nombreCiudades" [value]="ciudad.id"
                                        (click)="SeleccionarCiudad(asignarCiudadForm.value)">
                                        {{ciudad.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </form>
    <mat-card-actions class="d-flex justify-content-around">
        <button id="btn-raised" class="btn btn-sm" [disabled]="!asignarCiudadForm.valid"
            (click)="InsertarFeriadoCiudad(asignarCiudadForm.value)" value="Guardar">Guardar</button>
    </mat-card-actions>
</div>
<div class="pantalla-progress" *ngIf="habilitarprogress">
    <mat-progress-spinner class="progress" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>