tr {
    text-align: center;
}

table {
    width: 100%;
    font-size: 12px;
    border: 1px solid #ccc;
}

td {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}

#centrar {
    border: 1px solid #ccc;
    vertical-align: middle;
}

p {
    font-size: x-small;
}

.progress {
    margin: 250px auto auto auto;
    opacity: 1
}

.pantalla-progress {
    background: #ffff;
    position: fixed;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

mat-progress-spinner {
    background: transparent;
    z-index: 100;
}
