.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

label {
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.example-card {
    max-width: 500px;
}

.row .col-md-6 {
    margin: 15px 0px 0px 0px;
}

.btn-lg {
    width: 180px;
    height: 70px;
    margin: 7px 7px 7px 7px;
    color: white;
}

.icon-menu {
    margin: auto;
    vertical-align: middle;
    margin-right: 8px !important;
    color: white;
}

.titulo-card {
    margin: auto;
    vertical-align: middle;
    margin-right: 8px !important;
    color: white;
    font-size: 16px !important;
}

/*Infotmacion Usuario*/
.card-info {
    height: 100%;
    background: linear-gradient(to right, rgb(32, 119, 150), rgb(18, 96, 125));
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-left: 5px;
}

.card-info:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* PERMISOS */
.card-permi {
    height: 215px;
    background: linear-gradient(to right, rgb(235, 212, 8), rgb(177, 159, 2));
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card-permi:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* VACACIONES */
.card-vaca {
    height: 215px;
    background: linear-gradient(to right, rgb(27, 135, 52), rgb(13, 94, 32));
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-right: 5px;
}

.card-vaca:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* REPORTES */
.card-timbreTele {
    background: linear-gradient(to right, rgb(100, 159, 28), rgb(74, 124, 12));
    height: 200px;
    width: 225px;
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-left: 6px;
    margin-right: 6px;
}

.card-timbreTele:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* HORAS EXTRAS */
.card-horasExtras {
    height: 215px;
    background: linear-gradient(to right, rgb(138, 71, 213), rgb(113, 47, 189));
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-left: 5px;
}

.card-horasExtras:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* ALIMENTACION */
.card-alimentacion {
    height: 215px;
    background: linear-gradient(to right, rgb(241, 160, 67), rgb(148, 81, 4));
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card-alimentacion:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* ACCIONES PERSONAL */
.card-accionPerso {
    background: linear-gradient(to right, rgb(180, 87, 160), rgb(119, 51, 104));
    height: 200px;
    width: 225px;
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-left: 6px;
    margin-right: 6px;
}

.card-accionPerso:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* MOVIL */
.card-aplicacionMovil {
    background: linear-gradient(to right, rgb(39, 124, 222), rgb(16, 84, 161));
    height: 200px;
    width: 225px;
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-left: 6px;
    margin-right: 6px;
}

.card-aplicacionMovil:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* GEOLOCALIZACION */
.card-geolocali {
    background: linear-gradient(to right, rgb(28, 169, 173), rgb(15, 116, 120));
    height: 200px;
    width: 225px;
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-left: 6px;
    margin-right: 6px;
}

.card-geolocali:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.card-inactivo {
    background: linear-gradient(to right, rgb(164, 166, 167), rgb(131, 132, 133));
    font-size: 14px;
    height: 215px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card-inactivo_ {
    background: linear-gradient(to right, rgb(164, 166, 167), rgb(131, 132, 133));
    height: 200px;
    width: 225px;
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card-inactivo:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.card-inactivo_:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#charts_inasistencia {
    width: 100%;
    height: 350px;
}

#charts_hora_extra {
    width: 100%;
    height: 350px;
}

#charts_asistencia {
    width: 100%;
    height: 350px;
}

#charts_retrasos {
    width: 100%;
    height: 350px;
}

#charts_marcaciones {
    width: 100%;
    height: 350px;
}

#charts_tiempo_jornada {
    width: 100%;
    height: 350px;
}

#charts_jornada_hora_extra {
    width: 100%;
    height: 350px;
}

#charts_salidas_antes {
    width: 100%;
    height: 350px;
}

.scroll-box {
    overflow-y: scroll;
    height: 100%;
    overflow-x: scroll;
    width: 100%;
    padding: 1rem;
}

@media only screen and (max-width: 800px) {

    .btn-lg {
        width: 180px;
        height: 80px;
        margin: 2px 2px 2px 2px;
        font-size: 15px;
    }

}

.texto {
    margin: auto;
}

#avatar {
    border-radius: 100%;
    height: 130px;
    width: 130px;
    background-color: rgb(126, 126, 126);
    margin-bottom: 10px;
}

#avatarImagen {
    border-radius: 100%;
    height: 130px;
    width: 130px;
}

.iniciales {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.cont_imagen {
    width: min-content;
    margin: auto;
}