<br>
<div class="container" style="padding-bottom: 25px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <div class="w-100 bd-highlight">
                <h5>SOLICITUDES DE PERMISOS</h5>
            </div>
            <div class="flex-shrink-1 bd-highlight" style="margin-right: 10px;">
                <button type="submit" class="btn btn-outline-light btn-sm"
                    (click)="AbrirVentanaPermiso()">Añadir</button>
            </div>
        </div>
        <div *ngFor="let pt of permisosTotales | paginate:tamanio_pagina:numero_pagina" style="padding-top: 15px;">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">N° Permiso:</label>
                            <label>{{pt.num_permiso}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Motivo:</label>
                            <label>{{pt.nom_permiso}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Descripción:</label>
                            <label>{{pt.descripcion}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha:</label>
                            <label>{{pt.fec_creacion_}}</label>
                        </div>

                    </div>
                    <div class="col-md">

                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha desde:</label>
                            <label>{{pt.fec_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha hasta:</label>
                            <label>{{pt.fec_final_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Hora inicia:</label>
                            <label>{{pt.hora_salida_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Hora finaliza:</label>
                            <label>{{pt.hora_ingreso_}}</label>
                        </div>

                    </div>
                    <div class="col-md">

                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Estado:</label>
                            <label *ngIf="pt.estado === 1">Pendiente</label>
                            <label *ngIf="pt.estado === 2">Pre-autorizado</label>
                            <label *ngIf="pt.estado === 3">Autorizado</label>
                            <label *ngIf="pt.estado === 4">Negado</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Días permiso:</label>
                            <label>{{pt.dia}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Horas permiso:</label>
                            <label>{{pt.hora_numero}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start" *ngIf="pt.documento != null">
                            <label id="datosF">Documento:</label>
                            <a matSuffix matTooltipPosition="right"
                                matTooltip="Dar click para descargar contrato de trabajo"
                                href="{{hipervinculo}}/empleadoPermiso/documentos/{{pt.documento}}/visualizar/{{pt.codigo}}" target="_blank">
                                <label style="font-size: 14px;">{{pt.documento}}</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: right;" *ngIf="pt.estado === 1">
                <i class="fas fa-edit" id="edit" (click)="EditarPermiso(pt)" matSuffix matTooltipPosition="right"
                    matTooltip="Modificar los datos generales de este registro">
                    <p>Editar</p>
                </i>
                <i class="fas fa-backspace" id="cancel" (click)="CancelarPermiso(pt)" matSuffix
                    matTooltipPosition="right" matTooltip="Cancelar solicitud de permiso">
                    <p>Cancelar</p>
                </i>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-paginator id="pagina" [length]="permisosTotales.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>