p {
    font-size: x-small;
}

#datosF {
    font-weight: bold;
    font-size: 15px;
    padding-right: 5px;
}

.caja1 {
    padding: 0px 10px 0px 10px;
}


#edit {
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color: green;
}

#cancel {
    color: red;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    margin-right: 20px;
}