<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 20px;">
    <div id="titulo">
        <span>LISTA DE DOCUMENTOS</span>
    </div>
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Carpetas</li>
            <li class="breadcrumb-item active" aria-current="page">{{Dirname}}</li>
        </ol>
    </nav>
    <div style="width: 100%;"  *ngIf="subir">

        <div style="float: left;" *ngIf="Dirname != 'permisos' && Dirname != 'contratos'">
            <mat-form-field id="t-inputs">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="Buscar archivo" minlength="2" [formControl]="nombreF"
              [(ngModel)]="filtroDescripcion" (input)="Filtrar($event, 'archivo')">
            </mat-form-field>
          </div>

        <button type="submit" style="float: right; margin-right: 10px;" class="btn btn-sm btn-primary" (click)="AbrirVentanaRegistrar()">
            Subir documento
        </button>
    </div>
    <br *ngIf="subir">
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Tipo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descarga</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of archivosFiltro">
                    <td style="padding-top: 10px; text-align: center;" *ngIf="a.extencion === 'pdf'">
                        <mat-icon style="color: red;">picture_as_pdf</mat-icon>
                    </td>
                    <td style="padding-top: 10px; text-align: center;" *ngIf="a.extencion === 'txt'">
                        <mat-icon style="color: rgb(58, 58, 58);">text_snippet</mat-icon>
                    </td>
                    <td style="padding-top: 10px; text-align: center;"
                        *ngIf="a.extencion === 'docx' || a.extencion === 'xlsx'">
                        <mat-icon style="color: rgb(0, 110, 255);">insert_drive_file</mat-icon>
                    </td>
                    <td style="padding-top: 10px; text-align: center;"
                        *ngIf="a.extencion === 'jpg' || a.extencion === 'jpeg' || a.extencion === 'png'">
                        <mat-icon style="color: rgb(58, 160, 255);">photo</mat-icon>
                    </td>
                    <td style="padding-top: 10px;">{{a.nombre}}</td>
                    <td style="padding-top: 10px; text-align: center;">
                        <a mat-buttom type="button" (click)="DescargarArchivo(a.file)"
                            href="{{hipervinculo}}/archivosCargados/download/files/{{Dirname}}/{{a.nombre}}"
                            target="_blank">
                            <mat-icon style="color: rgb(38, 184, 46);">cloud_download</mat-icon>
                        </a>
                        <i *ngIf="subir" class="far fa-trash-alt" (click)="EliminarArchivo(a.file, a.id)" matSuffix
                            matTooltipPosition="right" matTooltip="Eliminar este documento">
                            <p>Eliminar</p>
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>