<app-ver-departamento [id_departamento]="data_id" [pagina]="pagina" *ngIf="ver_nivel">
</app-ver-departamento>
<div class="div" *ngIf="ver_departamentos">
    <div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 20px;">
        <div class="row">
            <div class="col-md">
                <div id="titulo">
                    <span>DEPARTAMENTOS</span>
                </div>
                <mat-card class="example-card mat-elevation-z9">
                    <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                        <button id="btn-raised" class="btn btn-sm" (click)="AbrirVentanaRegistrarDepartamento()"
                            value="Crear departamento">
                            Crear departamento
                        </button>
                        <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                            matTooltipPosition="right"
                            matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos."
                            value="Mostrar lista">
                            Mostrar lista
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom: 50px; text-align: center;">
        <div class="mat-elevation-z8" style="background: white;">
            <div id="resultados">RESULTADO DE BÚSQUEDA</div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Establecimiento</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Niveles</th>
                            <th scope="col">Departamento Superior</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" [formControl]="buscarNombre"
                                        [(ngModel)]="filtroNombreSuc">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" [formControl]="departamentoF"
                                        [(ngModel)]="filtroNombre">
                                </mat-form-field>
                            </td>
                            <td></td>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" [formControl]="departamentoPadreF"
                                        [(ngModel)]="filtroDeparPadre">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de departamentos de acurdo a cada columna de la tabla.">
                                    help_outline
                                </mat-icon>
                            </td>
                        </tr>
                        <tr
                            *ngFor="let departamento of departamentos | filtroDepartamento: filtroNombre | departamentoPadre: filtroDeparPadre | filtroSucursalR: filtroNombreSuc | paginate:tamanio_pagina:numero_pagina">
                            <td>{{departamento.nomsucursal}}</td>
                            <td>{{departamento.nombre | titlecase}}</td>
                            <td>{{departamento.nivel}}</td>
                            <td>{{departamento.departamento_padre | titlecase}}
                            </td>
                            <td class="justify-content-center">
                                <i class="fa fa-arrows-v" matSuffix matTooltipPosition="right" id="t-detalles"
                                    matTooltip="Registrar niveles de autorización."
                                    (click)="VerNiveles(departamento.id)">
                                    <p>Niveles</p>
                                </i>
                                <i id="t-editar" (click)="AbrirEditarDepartamento(departamento)" matSuffix
                                    matTooltipPosition="right" matTooltip="Modificar datos de este registro"
                                    class="fas fa-edit">
                                    <p>Editar</p>
                                </i>
                                <i (click)="ConfirmarDelete(departamento)" class="far fa-trash-alt" id="t-eliminar"
                                    matSuffix matTooltipPosition="right" matTooltip="Eliminar este registro.">
                                    <p>Eliminar</p>
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator id="pagina" [length]="departamentos.length" [pageSize]="tamanio_pagina"
                [pageSizeOptions]="pageSizeOptions" (page)="ManejarPagina($event)" showFirstLastButtons>
            </mat-paginator>
            <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px;">
                <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix
                    matTooltipPosition="right" matTooltip="Descargar Lista de Departamentos en formato PDF.">
                    <p>PDF</p>
                </i>
                <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Departamentos en formato EXCEL.">
                    <p>XLSL</p>
                </i>
                <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Departamentos en formato CSV.">
                    <p>CSV</p>
                </i>
                <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Departamentos en formato XML.">
                    <p>XML</p>
                </i>
            </div>
            <div class="d-flex justify-content-end"
                style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
                <p> Reporte de departamentos. </p>
            </div>
        </div>
    </div>
</div>