<div class="container" *ngFor="let d of datosPedido" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo">
            <button id="btn-raised" class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px;"
                (click)="VerListaPedidos()">
                Listar acciones de personal
            </button>
            <span>DATOS GENERALES</span>
            <button id="btn-raised" class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                (click)="AbrirEditar(d.id)">
                Editar
            </button>
        </div>
        <mat-card-content>
            <div class="container" style="padding-top: 5px;">
                <div class="container" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>ACCIÓN DE PERSONAL</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Identificación:</b>
                                {{d.identi_accion_p.toUpperCase()}}
                            </label>
                            <label class="col-sm col-form-label"><b>Fecha Registro:</b>
                                {{d.fec_creacion_}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>TIPO DE ACCIÓN</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Tipo de acción personal:</b>
                                {{d.tipo.toUpperCase()}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md" id="verticalLine">
                            <div class="subtitulo">
                                <span>DECRETO-ACUERDO-RESOLUCIÓN</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Decreto, acuerdo o resolución:</b>
                                {{decreto.toUpperCase()}}
                            </label>
                        </div>
                        <div class="col-md" id="verticalLine">
                            <div class="subtitulo">
                                <span>EXPLICACIÓN (Base legal del tipo de acción y su adición)</span>
                            </div>
                            <label class="col-sm col-form-label"
                                *ngIf="d.adicion_legal != null && d.adicion_legal != ''">
                                <b>Adicción legal:</b>
                                {{d.adicion_legal}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="padding-top: 30px;">
                <div id="titulo">
                    <span></span>
                </div>
                <div class="container" style="padding-top: 15px;">
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>DATOS DEL EMPLEADO</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Empleado:</b>
                                {{datoEmpleado.toUpperCase()}}
                            </label>
                            <label class="col-sm col-form-label"><b>Cédula:</b> {{cedula}}</label>
                            <label class="col-sm col-form-label"><b>Departamento:</b>
                                {{departamentoE.toUpperCase()}}</label>
                            <label class="col-sm col-form-label"><b>Cargo:</b> {{cargo.toUpperCase()}}</label>
                            <label class="col-sm col-form-label"><b>Remuneración mensual:</b> $ {{sueldo}}</label>
                            <label class="col-sm col-form-label"><b>Rige desde:</b>
                                {{d.fec_rige_desde_}}
                            </label>
                            <label class="col-sm col-form-label"><b>Rige hasta:</b>
                                {{d.fec_rige_desde_}}
                            </label>
                            <div class="subtitulo">
                                <span>SITUACIÓN ACTUAL (Datos tomados desde la ficha del empleado)</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Número partida:</b>
                                {{d.num_partida}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>SITUACIÓN PROPUESTA</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Proceso propuesto:</b>
                                {{proceso.toUpperCase()}}
                            </label>
                            <label class="col-sm col-form-label"><b>Ciudad:</b>
                                {{ciudad.toUpperCase()}}
                            </label>
                            <label class="col-sm col-form-label"><b>Cargo propuesto:</b>
                                {{cargop.toUpperCase()}}
                            </label>
                            <label class="col-sm col-form-label"><b>Salario propuesto:</b>
                                {{d.salario_propuesto}}
                            </label>
                            <label class="col-sm col-form-label"><b>Número partida propuesta:</b>
                                {{d.num_partida_propuesta}}
                            </label>
                            <label class="col-sm col-form-label"><b>Número partida individual:</b>
                                {{d.num_partida_individual}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="padding-top: 30px;">
                <div id="titulo">
                    <span></span>
                </div>
                <div class="container" style="padding-top: 15px;">
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>ACTA FINAL DEL CONCURSO</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Acta final del concurso No.:</b>
                                {{d.act_final_concurso}}
                            </label>
                            <label class="col-sm col-form-label"><b>Fecha:</b>
                                {{d.fec_act_final_concurso_}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>PROCESO DE RECURSOS HUMANOS</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Firman:</b></label>
                            <label class="col-sm col-form-label">
                                {{d.abrev_empl_uno.toUpperCase()}}. {{datoEmpleadoH.toUpperCase()}} <br>
                                <b>{{cargoH.toUpperCase()}}</b>
                            </label>
                            <label class="col-sm col-form-label">
                                {{d.abrev_empl_dos.toUpperCase()}}. {{datoEmpleadoG.toUpperCase()}} <br>
                                <b>{{cargoG.toUpperCase()}}</b>
                            </label>
                        </div>

                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>REGISTRO Y CONTROL</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Responsable:</b>
                                {{datoEmpleadoR.toUpperCase()}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="padding-top: 30px;">
                <div id="titulo">
                    <span></span>
                </div>
                <div class="container" style="padding-top: 15px;">
                    <div class="row">
                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>LA PERSONA REEMPLAZA A</span>
                            </div>
                            <label class="col-sm col-form-label"><b>Nombre:</b>
                                {{d.nombre_reemp}}
                            </label>
                            <label class="col-sm col-form-label"><b>Puesto:</b>
                                {{d.puesto_reemp}}
                            </label>
                            <label class="col-sm col-form-label"><b>Funciones:</b>
                                {{d.funciones_reemp}}
                            </label>
                            <label class="col-sm col-form-label"><b>Número de acción:</b>
                                {{d.num_accion_reemp}}
                            </label>
                            <label class="col-sm col-form-label"><b>Primera fecha:</b>
                                {{d.primera_fecha_reemp_}}
                            </label>
                        </div>
                        <div class="col-sm" id="verticalLine">
                            <div class="subtitulo">
                                <span>POSESIÓN/NOTIFICACIÓN</span>
                            </div>
                            <div class="col-sm">
                                <label class="col-sm col-form-label"><b>Posesión/Notificación:</b>
                                    {{d.posesion_notificacion}}
                                </label>
                            </div>
                            <div class="col-sm">
                                <label class="col-sm col-form-label"><b>Descripción:</b>
                                    {{d.descripcion_pose_noti}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>