<button mat-mini-fab [matMenuTriggerFor]="settings">
    <mat-icon id="iconos-navegador" style="margin-left: 8px; margin-right: 8px;" matSuffix matTooltipPosition="right"
        matTooltip="Configuración correo y notificaciones">
        arrow_drop_down
    </mat-icon>
</button>
<mat-menu #settings="matMenu">
    <div>
        <h4 style="text-align: center;">Preferencias</h4>
    </div>
    <button mat-menu-item (click)="AbrirSettings()">
        <mat-icon>mark_email_unread</mat-icon>
        <span style="font-size: 14px;">Correo y notificaciones</span>
    </button>
    <button mat-menu-item (click)="AbrirAccionesTimbres()">
        <mat-icon>access_time</mat-icon>
        <span style="font-size: 14px;">Acciones de timbres</span>
    </button>
    <button mat-menu-item (click)="AbrirVentanaAyuda()">
        <mat-icon>contact_support</mat-icon>
        <span style="font-size: 14px;">Contactos soporte técnico</span>
    </button>
    <button mat-menu-item (click)="loginService.logout()">
        <mat-icon>logout</mat-icon>
        <span style="font-size: 14px;">Cerrar Sesión</span>
    </button>
</mat-menu>