<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 20px;">
    <div id="titulo">
        <span>LISTA DE DOCUMENTOS</span>
    </div>
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Carpetas</li>
        </ol>
    </nav>

    <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 25px">
        <div *ngFor="let c of array_carpetas" style="padding: 20px 20px 20px 20px; height: 120px; width: 120px;">
            <button class="btn btn-sm" type="button" id="cajas-carpetas" (click)="AbrirCarpeta(c.filename)">
                <mat-icon id="i-cursor" style="color:rgb(0, 65, 163);">folder</mat-icon>
                <h5 id="letras">{{c.nombre}}</h5>
            </button>
        </div>
    </div>
</div>