<div id="titulo">
    <span>
        ASIGNAR HORARIO RANGO FECHAS
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
</div>
<mat-card class="example-card mat-elevation-z8">
    <!-- FORMULARIO COMPLETO -->
    <form [formGroup]="formulario">
        <mat-card-content>
            <div class="container" style="text-align: center;">
                <div class="nota" style="text-align: justify;">
                    <span>
                        NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el
                        botón Guardar.
                    </span>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-md d-flex flex-wrap justify-content-start">
                                <mat-form-field id="campos">
                                    <mat-label>Fecha desde</mat-label>
                                    <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa"
                                        [formControl]="fechaInicioF" min="1950-01-31" max="2050-01-31" required
                                        (click)="LimpiarHorario()" (dateInput)="LimpiarHorario()"
                                        [disabled]="registrar">
                                    <mat-datepicker-toggle matSuffix [for]="picker" id="i-cursor"
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar la fecha dando click en el ícono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md d-flex flex-wrap justify-content-start">
                                <mat-form-field id="campos">
                                    <mat-label>Fecha hasta</mat-label>
                                    <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa"
                                        [formControl]="fechaFinalF" required (click)="LimpiarHorario()"
                                        (dateInput)="LimpiarHorario()" [disabled]="registrar">
                                    <mat-datepicker-toggle matSuffix [for]="picker2" id="i-cursor"
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar la fecha dando click en el ícono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start" style="margin-left: 15px;">
                                <mat-form-field>
                                    <mat-label>Seleccionar horario</mat-label>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Lista de horarios cargados en el sistema.">
                                        help_outline
                                    </mat-icon>
                                    <mat-select [formControl]="horarioF" required>
                                        <mat-option style="font-size: 11px;" *ngFor="let h of vista_horarios"
                                            [value]="h.id" id="letra" (click)=VerificarIngresoFechas(formulario.value)
                                            [disabled]="registrar">
                                            {{h.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm" style="text-align: left;">
                        <div class="col-sm" style="text-align: left; padding-top: 5px;">
                            <label style="margin-right: 35px; font-size: 15px; padding-top: 10px;">
                                Marcar días no laborables o libres*
                            </label>
                        </div>
                        <div class="container" style="text-align: center;">
                            <div class="row">
                                <div class="col-sm" style="text-align: left;">
                                    <mat-checkbox [formControl]="lunesF" [(ngModel)]="lunes" [disabled]="registrar">
                                        <label id="textoradiobtn">Lunes</label>
                                    </mat-checkbox>
                                    <br>
                                    <mat-checkbox [formControl]="martesF" [(ngModel)]="martes" [disabled]="registrar">
                                        <label id="textoradiobtn">Martes</label>
                                    </mat-checkbox>
                                </div>
                                <div class="col-sm" style="text-align: left;">
                                    <mat-checkbox [formControl]="miercolesF" [(ngModel)]="miercoles"
                                        [disabled]="registrar">
                                        <label id="textoradiobtn">Miércoles</label>
                                    </mat-checkbox>
                                    <br>
                                    <mat-checkbox [formControl]="juevesF" [(ngModel)]="jueves" [disabled]="registrar">
                                        <label id="textoradiobtn">Jueves</label>
                                    </mat-checkbox>
                                </div>
                                <div class="col-sm" style="text-align: left;">
                                    <mat-checkbox [formControl]="viernesF" [(ngModel)]="viernes" [disabled]="registrar">
                                        <label id="textoradiobtn">Viernes</label>
                                    </mat-checkbox>
                                </div>
                                <div class="col-sm" style="text-align: left;">
                                    <mat-checkbox [formControl]="sabadoF" [(ngModel)]="sabado" [disabled]="registrar">
                                        <label id="textoradiobtn">Sábado</label>
                                    </mat-checkbox>
                                    <br>
                                    <mat-checkbox [formControl]="domingoF" [(ngModel)]="domingo" [disabled]="registrar">
                                        <label id="textoradiobtn">Domingo</label>
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <button id="btn-raised" class="btn btn-sm" (click)="ValidarSeleccionados(formulario.value)"
                    [disabled]="!formulario.valid" *ngIf="validar">
                    Validar
                </button>
                <button id="btn-raised" class="btn btn-sm" *ngIf="btn_eliminar_todo" [disabled]="!formulario.valid"
                    (click)="EliminarRegistros(formulario.value, 1)">
                    Eliminar
                </button>
                <button id="btn-raised" class="btn btn-sm" (click)="CerrarTabla()" *ngIf="cancelar">
                    Cancelar
                </button>
            </div>
        </mat-card-content>
    </form>
</mat-card>
<div style="margin: 25px 0px 25px 0px; text-align: center;" *ngIf="observaciones">
    <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: 1%; margin-bottom: 2%;">
            <button id="btn-raised" class="btn btn-sm" (click)="InsertarEmpleadoHorario(formulario.value)"
                *ngIf="guardar">
                Guardar
            </button>
            <button id="btn-raised" class="btn btn-sm" *ngIf="btn_eliminar"
                (click)="EliminarRegistros(formulario.value, 2)">
                Eliminar
            </button>
        </div>
        <div class="d-flex bd-highlight" id="titulo">
            <span class="w-100 bd-highlight">
                LISTA DE EMPLEADOS SIN ASIGNACIÓN DE HORARIO
            </span>
            <mat-icon class="float-right" id="cerrar" (click)="CerrarTabla()">highlight_off</mat-icon>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Código</th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of usuarios | paginate:tamanio_pagina_h:numero_pagina_h">
                        <td>{{e.codigo}}</td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.observacion}} <span style="font-size: xx-small;">{{e.nota}}</span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="usuarios.length" [pageSize]="tamanio_pagina_h"
            [pageSizeOptions]="pageSizeOptions_h" (page)="ManejarPaginaH($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
        <div class="container" style="text-align: justify;">
            <div class="nota">
                <span>
                    NOTA: No se asigna horario a un colaborador cuando:
                </span>
                <ol>
                    <li>
                        En las fechas ingresadas el usuario ya tiene registrada una planificación horaria.
                    </li>
                    <li>
                        Las fechas ingresadas no corresponde al periodo registrado en el contrato.
                    </li>
                    <li>
                        Los horarios asignados tienen rangos de tiempo similares.
                    </li>
                </ol>
            </div>
        </div>
    </mat-card>
</div>
<div class="pantalla-progress" *ngIf="progreso">
    <mat-progress-spinner class="progress" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>
<div class="pantalla-progress" *ngIf="progreso_">
    <mat-progress-spinner class="progress" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>