<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md">
            <mat-card class="mat-elevation-z8">
                <div id="titulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <h5>APROBACIONES DEPARTAMENTOS</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="table-responsive" style="padding-top: 10px;">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th scope="col">Departamento</th>
                                    <th scope="col">Proceso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let autoD of autorizacionesTotales">
                                    <td>{{autoD.nom_depar}}</td>
                                    <td *ngIf="autoD.preautorizar == false">Autorizar</td>
                                    <td *ngIf="autoD.preautorizar == true">Preautorizar</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>