<button mat-mini-fab style="margin-right: 8px;" [matMenuTriggerFor]="timbre" (click)="numeroTimbres()">
    <mat-icon id="iconos-navegador" [matBadgeHidden]="estadoTimbres" matBadge="{{num_timbre_false}}"
        matBadgeColor="warn" style="margin-left: 8px; margin-right: 8px;" matSuffix matTooltip="Avisos Generales">
        report
    </mat-icon>
</button>
<mat-menu #timbre="matMenu" style="margin-right: 10px; height: 100px;">
    <div class="container" style="text-align: center;">
        <h4>Avisos</h4>
    </div>
    <div *ngIf="avisos.message !== 'No se encuentran registros'">
        <div *ngFor="let n of avisos">

            <!-- FORMA DE AVISO PARA 'TE FALTA TIMBRE DE ENTRADA' -->
            <div *ngIf="n.visto == false && n.descripcion === 'Te falta timbre de entrada'"
                style="background: rgb(201,79,78);">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -8%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;"><b>{{n.empleado}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;"><b>{{n.descripcion}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>
            <!-- Forma de aviso para 'Te falta timbre de salida' -->
            <div *ngIf="n.visto == false && n.descripcion === 'Te falta timbre de salida'"
                style="background: rgb(201,79,78);">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -8%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;"><b>{{n.empleado}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;"><b>{{n.descripcion}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>
            <!-- Forma de aviso para 'Salio antes al almuerzo' -->
            <div *ngIf="n.visto == false && n.descripcion === 'Salio antes al almuerzo'"
                style="background: rgb(201,79,78);">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -8%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;"><b>{{n.empleado}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;"><b>{{n.descripcion}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>
            <!-- Forma de aviso para 'Se tomo mucho tiempo de almuerzo' -->
            <div *ngIf="n.visto == false && n.descripcion === 'Se tomo mucho tiempo de almuerzo'"
                style="background: rgb(201,79,78);">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -8%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;"><b>{{n.empleado}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;"><b>{{n.descripcion}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>
            <!-- Forma de aviso para 'Llego atrasado al trabajo' -->
            <div *ngIf="n.visto == false && n.descripcion === 'Llego atrasado al trabajo'"
                style="background: rgb(201,79,78);">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -8%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;"><b>{{n.empleado}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;"><b>{{n.descripcion}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>
            <!-- Forma de aviso para 'Salio antes al trabajo' -->
            <div *ngIf="n.visto == false && n.descripcion === 'Salio antes al trabajo'"
                style="background: rgb(201,79,78);">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -8%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;"><b>{{n.empleado}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;"><b>{{n.descripcion}}</b></li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>




            <!-- NOTIFICACION DE SOLICITUD DE ALIMENTACION -->
            <div *ngIf="n.visto === false && n.tipo === 1" style="background: rgb(251, 212, 166)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -6%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Colaborador:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Tipo de servicio:</b>
                            {{n.descripcion.split('desde')[1].split('horario')[1].split('servicio')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Para el día:</b> {{n.descripcion.split('desde')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('horario')[1].split('servicio')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- AVISOS YA VISTOS NOTIFICACION DE SOLICITUD DE ALIMENTACION-->
            <div *ngIf="n.visto === true && n.tipo === 1" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -6%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Colaborador:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b> Tipo de servicio:
                            </b>{{n.descripcion.split('desde')[1].split('horario')[1].split('servicio')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Para el día:</b> {{n.descripcion.split('desde')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('horario')[1].split('servicio')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>




            <!-- NOTIFICACIÓN DE APROBACION DE SOLICITUD DE ALIMENTACION -->
            <div *ngIf="n.visto === false && n.tipo === 2" style="background: rgb(252, 227, 206)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -6%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Colaborador:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Tipo de servicio:</b>
                            {{n.descripcion.split('desde')[1].split('horario')[1].split('servicio')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Para el día:</b> {{n.descripcion.split('desde')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('horario')[1].split('servicio')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- NOTIFICACIÓN VISTA DE APROBACION DE SOLICITUD DE ALIMENTACION -->
            <div *ngIf="n.visto === true && n.tipo === 2" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -6%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Colaborador:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Tipo de servicio:</b>
                            {{n.descripcion.split('desde')[1].split('horario')[1].split('servicio')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Para el día:</b> {{n.descripcion.split('desde')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('horario')[1].split('servicio')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>





            <!-- NOTIFICACIÓN DE PLANIFICACION DE ALIMENTACION -->
            <div *ngIf="n.visto === false && n.tipo === 20" style="background: rgb(251, 212, 169)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -6%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Enviado por:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Tipo de servicio:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('servicio')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Inicia:</b> {{n.descripcion.split('desde')[1].split('hasta')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Finaliza:</b> {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('servicio')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- AVISOS YA VISTOS NOTIFICACIÓN DE PLANIFICACION DE ALIMENTACION-->
            <div *ngIf="n.visto === true && n.tipo === 20" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -6%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Enviado por:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b> Tipo de servicio:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('servicio')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Inicia:</b> {{n.descripcion.split('desde')[1].split('hasta')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Finaliza:</b> {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('servicio')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>





            <!-- NOTIFICACIONES DE PLANIFICACIÓN DE HORAS EXTRAS -->
            <div *ngIf="n.visto === false && n.tipo === 10" style="background: rgb(187, 246, 250)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -5%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Enviado por:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Inicia:</b> {{n.descripcion.split('desde')[1].split('hasta')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Finaliza:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario de')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- NOTIFICACIONES VISTAS DE PLANIFICACIÓN DE HORAS EXTRAS -->
            <div *ngIf="n.visto === true && n.tipo === 10" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -5%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Enviado por:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Inicia:</b> {{n.descripcion.split('desde')[1].split('hasta')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Finaliza:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario de')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>




            <!-- NOTIFICACIONES NO VISTAS DE JUSTIFICACION DE HORAS EXTRAS -->
            <div *ngIf="n.visto === false && n.tipo === 11" style="background: rgb(187, 246, 250)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -5%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Enviado por:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Inicia:</b> {{n.descripcion.split('desde')[1].split('hasta')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Finaliza:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('horas')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Num. horas solicitadas:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('horas')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- NOTIFICACIONES VISTAS DE JUSTIFICACION DE HORAS EXTRAS -->
            <div *ngIf="n.visto === true && n.tipo === 11" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -5%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Enviado por:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Inicia:</b> {{n.descripcion.split('desde')[1].split('hasta')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Finaliza:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Horario:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('horas')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Num. horas solicitadas:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('horas')[1]}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- NOTIFICACIONES NO VISTAS DE APROBACION DE HORAS EXTRAS -->
            <div *ngIf="n.visto === false && n.tipo === 12" style="background: rgb(187, 246, 250)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -5%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;"><b>Enviado por:</b> {{n.empleado}}</li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Inicia:</b> {{n.descripcion.split('desde')[1].split('hasta')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Finaliza:</b> {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b> Horario: </b>{{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('estado')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b> Num. horas {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                                de')[1].split('estado')[1].split('horas')[0]}}:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('estado')[1].split('horas')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- NOTIFICACIONES VISTAS DE APROBACION DE HORAS EXTRAS -->
            <div *ngIf="n.visto === true && n.tipo === 12" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -5%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;"><b>Enviado por:</b> {{n.empleado}}</li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.aviso}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>{{n.usuario}}</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Inicia:</b> {{n.descripcion.split('desde')[1].split('hasta')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Finaliza:</b> {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b> Horario: </b>{{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('estado')[0]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b> Num. horas {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                                de')[1].split('estado')[1].split('horas')[0]}}:</b>
                            {{n.descripcion.split('desde')[1].split('hasta')[1].split('horario
                            de')[1].split('estado')[1].split('horas')[1]}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>


            <!-- MENSAJE DE COMUNICADOS -->
            <div *ngIf="n.visto === false && n.tipo === 6" style="background: rgb(245, 202, 252)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -8%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Enviado por:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b> Comunicado:</b> {{n.descripcion.split(';')[0]
                            }}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- MENSAJE DE COMUNICADOS VISTOS-->
            <div *ngIf="n.visto === true && n.tipo === 6" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -8%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Enviado por:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Comunicado:</b>
                            {{n.descripcion.split('.')[0]}}. {{n.descripcion.split('.')[1]}}.
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            {{n.descripcion.split('.')[2]}}.
                        </li>
                        <li style="font-size: 12px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>


            <!-- NOTIFICACION DE PERMISOS MULTIPLES -->
            <div *ngIf="n.visto === false && n.tipo === 7" style="background: rgb(172, 251, 254)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -6%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Colaborador:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Comunicado:</b>
                            {{n.descripcion.split('.')[0]}}. {{n.descripcion.split('.')[1]}}.
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            {{n.descripcion.split('.')[2]}}.
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Fecha:</b> {{n.fecha_}}
                            <b>&nbsp;&nbsp;Hora:</b> {{n.hora_}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- AVISOS YA VISTOS NOTIFICACION DE PERMISOS MULTIPLES -->
            <div *ngIf="n.visto === true && n.tipo === 7" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                    <ul style="list-style: none; margin-left: -6%;" (click)="ActualizarVista(n)">
                        <li style="font-size: 12px; margin-top: 3%;">
                            <b>Colaborador:</b> {{n.empleado}}
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            <b>Comunicado:</b>
                        </li>
                        <li style="font-size: 11px; margin-top: 1%;">
                            {{n.descripcion}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="loginService.getEstado() == estado">
        <a type="submit" [routerLink]="['/lista-avisos']" class="mostrar-noti">
            Mostrar todos los avisos
        </a>
    </div>
</mat-menu>