.btn {
    margin-left: 15px;
    background-color: rgb(80, 87, 97);
    color: white;
}

td {
    padding-top: 10px;
    text-align: center;
}

mat-form-field {
    padding: 10px 15px 0px 15px;
}

table {
    width: 100%;
    font-size: 13px;
}

p {
    font-size: x-small;
}

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

#accion {
    font-size: 15px;
    color: rgb(38, 0, 255);
    cursor: pointer;
    text-align: center;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 20px;
  }