.btn {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    color: white;
}

mat-form-field {
    width: 260px;
    padding: 10px 10px 0px 10px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 200px;
    align-items: flex-start;
}

.radio-button {
    margin: 0px 0px 10px;
}