<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        APROBACIÓN DEPARTAMENTO
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
</div>
<div>
    <!-- FORMULARIO COMPLETO -->
    <form [formGroup]="formulario">
        <mat-card-content>
            <div style="text-align: center;">
                <div class="nota" style="text-align: justify;">
                    <span>
                        NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                        Guardar.
                    </span>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <span>
                                <b>{{usuario.toUpperCase()}}</b>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Seleccionar sucursal</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Seleccionar una de las sucursales existentes en la entidad.">
                                    help_outline
                                </mat-icon>
                                <mat-select [formControl]="idSucursal" required>
                                    <mat-option *ngFor="let s of sucursales" [value]="s.id"
                                        (click)="ObtenerDepartamentos(formulario.value)">{{s.nombre}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Departamento</mat-label>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Seleccionar el departamento en el que realizará alguna aprobación de solicitudes.">
                                    help_outline</mat-icon>
                                <mat-select [formControl]="idDepartamento" required>
                                    <mat-option *ngFor="let d of departamento" [value]="d.id">{{d.nombre}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="contenedor d-flex flex-wrap justify-content-start" style="padding-top: 5px;">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="contenedor"
                                [formControl]="autorizarF" [value]="autorizarF.value" required>
                                <label class="d-flex justify-content-between"
                                    style="position: relative; right: 10px; font-size: 14px; padding-bottom: 5px;">
                                    <span>Opciones de aprobación*</span>
                                </label>
                                <mat-radio-button class="radio-button" value="preautorizar">
                                    <label id="textoradiobtn">Pre-autorizar</label>
                                </mat-radio-button>
                                <mat-radio-button class="radio-button" value="autorizar">
                                    <label id="textoradiobtn">Autorizar</label>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <button id="btn-raised" class="btn btn-sm" (click)="InsertarAutorizacion(formulario.value)"
                    [disabled]="!formulario.valid">
                    Guardar
                </button>
            </div>
        </mat-card-content>
    </form>
</div>