img {
    width: 100%;
}

mat-form-field {
    width: 230px;
}

mat-hint{
    width: max-content;
    font-size: 11px;
    margin: 0%;
    padding: 0%;
}

textarea{
    font-size: 13px;
}

.verde {
    margin-left: 5px;
    font-size: 13px;
    color: rgb(23, 173, 9);
}

.btn_b {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    width: 190px;
    color: white;
}

.caja1 {
    margin-bottom: 15px;
    margin-right: 16px;
    text-align: right;
    margin-top: 5px;
    font-size: 13px;
}

#fuente {
    font-size: x-small;
}