.btn {
    background-color: rgb(80, 87, 97);
    color: white;
}

mat-form-field {
    width: 100%;
}

#cerrar {
    color: red;
    cursor: pointer;
}

textarea {
    height: 75px;
    font-size: 13px;
}