<mat-card-content>
  <p id="titulo">CONTABILIZAR TIEMPO DE ATRASOS</p>
  <div id="ejemplo">
    <p><b>EJEMPLO:</b></p>
    <ul>
      <li type="disc">Hora de entrada 09:00</li>
      <li type="disc">Minutos de tolerancia 10</li>
      <li type="disc">Timbre del empleado 09:12</li>
    </ul>
  </div>
  
  <div>
    <mat-radio-group [(ngModel)]="tolerancia" class="radio-group">
      <mat-radio-button  value="no_considerar">No considerar minutos de tolerancia</mat-radio-button>
      <label class="elementos">Atraso <b>00:12</b> minutos</label>
      <mat-radio-button value="considerar">Considerar minutos de tolerancia</mat-radio-button>
    </mat-radio-group>
  
    <div id="grupo2">
      <mat-radio-group [(ngModel)]="tipoTolerancia" [disabled]="tolerancia === 'no_considerar'">
          <mat-radio-button value="horario">Con horario</mat-radio-button>
          <mat-radio-button value="tolerancia" class="radio2">Con tolerancia</mat-radio-button>
        </mat-radio-group>
    </div>
      <label class="elementos">Atraso <b>00:12</b> minutos</label>
      <label class="elementos">Atraso <b>00:02</b> minutos</label>
  </div>

  <div style="text-align: center; margin-top: 1.5rem;"> 
      <button  class="btn btn-sm" (click)="cerrarDialogo()">Cancelar</button>
      <button  class="btn btn-sm" (click)="aceptar()" [disabled]="(tolerancia === 'considerar' && tipoTolerancia==='')">Aceptar</button>
  </div>
</mat-card-content>
