<!--  **************************** LISTA DE FERIADOS *********************************  -->
<div *ngIf="ver_lista">
    <div class="container" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="row">
            <div class="col-md">
                <div id="titulo">
                    <span>FERIADOS</span>
                </div>
                <mat-card class="example-card mat-elevation-z9">
                    <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%;">
                        <button id="btn-raised" class="btn btn-sm" (click)="AbrirVentanaRegistrarFeriado()">
                            Crear feriado
                        </button>
                        <button id="btn-raised" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                            matTooltipPosition="right"
                            matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                            Mostrar lista
                        </button>
                    </div>
                </mat-card>
            </div>
            <div class="col-md">
                <div id="titulo">
                    <span>REGISTRO MULTIPLE DE FERIADOS</span>
                </div>
                <mat-card class="example-card mat-elevation-z9">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-around">
                                <form method="post" enctype="multipart/form-data" style="margin: 2% 0% -1% 0%;">
                                    <input (change)="FileChange($event)" type="file" [formControl]="archivoForm"
                                        id="file"
                                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                    <label for="file" class="btn-2" matSuffix matTooltipPosition="right"
                                        style="height: 64px;"
                                        matTooltip="Presionar para seleccionar Plantilla con nombre Feriados.">
                                        Subir feriados
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-around">
                                <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                                    style="margin: 2% 0% 3% 0%;"
                                    matTooltip="Dar click para ver o descargar el documento."
                                    href="{{hipervinculo}}/plantillaD/documento/Feriados.xlsx">
                                    <span class="material-icons">cloud_download</span>
                                    <br>
                                    Descargar plantilla feriados
                                </a>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom: 10px; margin-bottom: 35px;">
        <div class="mat-elevation-z8" style="background: white;">
            <div id="titulo">LISTA DE FERIADOS</div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Fecha Recuperación</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="Buscar" [formControl]="descripcionF"
                                        [(ngModel)]="filtroDescripcion" (keypress)="IngresarSoloLetras($event)">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field id="t-inputs">
                                    <input matInput placeholder="yyyy-mm-dd" [formControl]="fechaF"
                                        [(ngModel)]="filtradoFecha">
                                </mat-form-field>
                            </td>
                            <td></td>
                            <td>
                                <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                    matTooltip="Búsqueda de feriados de acuerdo a cada columna de la tabla.">
                                    help_outline
                                </mat-icon>
                            </td>
                        </tr>
                        <tr
                            *ngFor="let f of feriados | filtroNombre: filtroDescripcion | filtroFecha: filtradoFecha | paginate:tamanio_pagina:numero_pagina ">
                            <td id="letras">{{f.descripcion}}</td>
                            <td style="font-size: 12px;">{{f.fecha_}}</td>
                            <td style="font-size: 12px;">{{f.fec_recuperacion_}}</td>
                            <td class="justify-content-center">
                                <i matSuffix matTooltipPosition="right"
                                    matTooltip="Ver datos generales de este feriado." class="fas fa-eye" id="t-ver"
                                    (click)="VerListaCiudades(f.id)">
                                    <p>Ver</p>
                                </i>
                                <i matSuffix matTooltipPosition="right"
                                    matTooltip="Asignar ciudad en la que rige este feriado." class="fas fa-city"
                                    id="t-detalles" (click)="VerAsignarCiudad(f.id)">
                                    <p>Ciudad</p>
                                </i>
                                <i matSuffix matTooltipPosition="right"
                                    matTooltip="Modificar datos generales de este feriado." class="fas fa-edit"
                                    (click)="AbrirVentanaEditarFeriado(f)" id="t-editar">
                                    <p>Editar</p>
                                </i>
                                <i matSuffix matTooltipPosition="right" matTooltip="Eliminar registro."
                                    class="far fa-trash-alt" (click)="ConfirmarDelete(f)" id="t-eliminar">
                                    <p>Eliminar</p>
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator id="pagina" [length]="feriados.length" [pageSize]="tamanio_pagina"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
            </mat-paginator>
            <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 10px;">
                <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix
                    matTooltipPosition="right" matTooltip="Descargar Lista de Feriados en formato PDF.">
                    <p>PDF</p>
                </i>
                <i (click)="ExportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Feriados en formato EXCEL.">
                    <p>XLSL</p>
                </i>
                <i (click)="ExportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Feriados en formato CSV.">
                    <p>CSV</p>
                </i>
                <i (click)="ExportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar Lista de Feriados en formato XML.">
                    <p>XML</p>
                </i>
            </div>
            <div class="d-flex justify-content-end"
                style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
                <p> Reporte de feriados. </p>
            </div>
        </div>
    </div>
</div>

<!--  **************************** PANTALLA DE ASIGNAR CIUDADES A FERIADOS *********************************  -->
<app-asignar-ciudad *ngIf="ver_asignar" [pagina]="pagina" [id_feriado]="feriado_id"></app-asignar-ciudad>

<!--  **************************** PANTALLA LISTA DE CIUDADES *********************************  -->
<app-listar-ciudad-feriados *ngIf="ver_ciudades" [pagina_]="pagina" [idFeriado]="feriado_id">
</app-listar-ciudad-feriados>

<!--  **************************** PANTALLA REGISTRAR CIUDADES *********************************  -->
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 20px;">
    <app-registrar-feriados *ngIf="ver_registrar"></app-registrar-feriados>
</div>