<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        MODIFICAR PARÁMETRO GENERAL
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana(0)">highlight_off</mat-icon>
</div>
<div class="container">
    <form [formGroup]="formulario">
        <div style="text-align: center">
            <div class="nota" id="espacio" style="text-align: justify;">
                <span>
                    NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.
                </span>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <mat-form-field>
                    <mat-label>Descripción general</mat-label>
                    <input matInput [formControl]="descripcion" required>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: 10px; margin-bottom: 2%;">
            <button id="btn-raised" class="btn btn-sm" [disabled]=" !formulario.valid" value="Guardar"
                (click)="GuardarDatos(formulario.value)">
                Guardar
            </button>
        </div>
    </form>
</div>