<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        HABILITAR NOTIFICACIONES
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarRegistro()">highlight_off</mat-icon>
</div>
<div style="text-align: center;" *ngIf='contrasena'>
    <img src="../../../../../assets/imagenes/logo/logoAdmin.png"> <br><br>
    <span>Confirmar su contraseña</span>
    <form [formGroup]="formulario">
        <div class="nota" style="padding: 5% 5% 5% 5%;">
            <span>
                NOTA: Por favor llenar los campos obligatorios (*) del formulario para activar el botón
                Confirmar Contraseña.
            </span>
        </div>
        <mat-form-field>
            <mat-label>Contraseña actual</mat-label>
            <input matInput placeholder="**************" [type]="hide1 ? 'password' : 'text'" maxlength="10"
                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                formControlName="aPass" required>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide1">
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                    matTooltip="Ocultar o mostrar la contraseña ingresada.">
                    {{hide1 ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
        </mat-form-field>
        <br>
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: 1%; margin-bottom: 4%;">
            <button id="btn-raised" class="btn btn-sm" (click)="CompararContrasenia(formulario.value)"
                [disabled]="!formulario.valid">
                Confirmar Contraseña
            </button>
        </div>
    </form>
</div>

<!-------------------------------Ventana de Confirmacion de Frse------------------------------------------------>
<div style="text-align: center;" *ngIf='frase'>
    <img src="../../../../../assets/imagenes/logo/logoAdmin.png"> <br><br>
    <span>Confirmar su frase</span>
    <form [formGroup]="fraseForm">
        <div class="nota" style="padding: 5% 5% 5% 5%;">
            <span>
                NOTA: Por favor llenar los campos obligatorios (*) del formulario para activar el botón
                Confirmar Frase.
            </span>
        </div>
        <mat-form-field>
            <mat-label>Ingresar frase</mat-label>
            <textarea matInput #message maxlength="100" placeholder="Ingrese su frase de seguridad"
                formControlName="aFrase" required></textarea>
            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                matTooltip="Para asegurar que es usted dueño de esta cuenta ingrese su frase de seguridad.">
                help_outline</mat-icon>
            <mat-hint align="start"><strong>Ingresar hasta 100 caracteres</strong></mat-hint>
            <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
        </mat-form-field>
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: 6%;">
            <button type="submit" class="btn btn-link verde" (click)="RecuperarFrase()">
                Olvido su frase de seguridad?
            </button>
        </div>
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: px; margin-bottom: 4%;">
            <button id="btn-raised" class="btn btn-sm" (click)="CompararFrase(fraseForm.value)"
                [disabled]="!fraseForm.valid">
                Confirmar Frase
            </button>
        </div>
    </form>
</div>