.btn {
    background-color: rgb(80, 87, 97);
    color: white;
}

.timbre {
    background-color: rgb(125, 126, 128);
    color: white;
}

#accion {
    color: rgb(53, 95, 209);
    cursor: pointer;
}

td {
    padding-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    font-size: 12px;
}

mat-form-field.input-tables {
    background: transparent;
    font-size: 14px;
    text-align: center;
    outline: none;
    fill: none;
    height: 65px;
}

.fecha { width: 100px;}