<div class="container" style="padding-top: 20px;">
    <div id="titulo">
        <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
        <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
            EDITAR PLANIFICACIÓN HORAS EXTRAS
        </span>
        <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana(1,0)">highlight_off</mat-icon>
    </div>
    <mat-card class="example-card mat-elevation-z9">
        <div class="nota" id="espacio" style="margin-left: 20px;">
            <span>
                NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.
            </span>
        </div>
        <form [formGroup]="formulario">
            <div class="row">
                <div class="col-md">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Fecha planificación</mat-label>
                            <input matInput [matDatepicker]="picker1" [formControl]="fechaSolicitudF" required
                                [disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker1" id="i-cursor" matTooltipPosition="right"
                                matTooltip="Fecha de solicitud">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Descripción</mat-label>
                            <input matInput [formControl]="descripcionF">
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Indicar una observación de solicitud de horas extras.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Fecha desde</mat-label>
                            <input matInput [matDatepicker]="picker2" [formControl]="fechaInicioF" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="i-cursor" matTooltipPosition="right"
                                matTooltip="Fecha de inicio de horas extras. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Fecha hasta</mat-label>
                            <input matInput [matDatepicker]="picker3" [formControl]="FechaFinF" required>
                            <mat-datepicker-toggle matSuffix [for]="picker3" id="i-cursor" matTooltipPosition="right"
                                matTooltip="Fecha en la que finaliza actividades de horas extras. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Hora desde</mat-label>
                            <input matInput [formControl]="horaInicioF" type="time"
                                (keypress)="IngresarSoloNumeros($event)" (click)="LimpiarCampoHoras()">
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Hora en la que inicia actividades de horas extras.">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Hora hasta</mat-label>
                            <input matInput [formControl]="horaFinF" type="time"
                                (keypress)="IngresarSoloNumeros($event)" (click)="LimpiarCampoHoras()">
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Hora en la que finaliza las actividades de horas extras.">
                                help_outline
                            </mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Número de horas y minutos</mat-label>
                            <input matInput [formControl]="horasF" type="time" (keypress)="IngresarSoloNumeros($event)"
                                readonly>
                            <mat-icon (click)="CalcularTiempo(formulario.value)" id="i-cursor" matSuffix
                                matTooltipPosition="right"
                                matTooltip="Dar click para calcular total de horas extras a solicitar."
                                style="color:blue">
                                touch_app</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: 1%; margin-bottom: 2%;">
            <button id="btn-raised" class="btn btn-sm" (click)="ValidarProceso(formulario.value)"
                [disabled]="!formulario.valid">
                Guardar
            </button>
        </div>
    </mat-card>
</div>