mat-slider {
    width: 200px;
    font-size: 11px;
    margin-top: 2%;
}

.btn {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    margin-top: 5px;
    color: white;
}

.alinear {
    margin-top: 5px;
}

#tipoD {
    font-size: small;
}