mat-form-field {
    width: 230px;
}

img {
    width: 100%;
}


.pantalla {
    margin: auto;
}

.btn {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    width: 190px;
    color: white;
}