img {
    width: 100%;
}

mat-form-field {
    width: 250px;
}

mat-hint{
    width: max-content;
    font-size: 11px;
    margin: 0%;
    padding: 0%;
}

textarea{
    font-size: 13px;
}

.btn {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    width: 190px;
    color: white;
}