<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        REGISTRAR SU FRASE
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarRegistro(false)">highlight_off</mat-icon>
</div>
<div style="text-align: center; padding: 3%;">
    <img src="../../../../../assets/imagenes/logo/logoAdmin.png">
    <br><br>
    <form [formGroup]="formulario">
        <div class="nota" style="margin-bottom: 3%;">
            <span>
                NOTA: Ingresar una frase que pueda recordar. Esta frase la usará para realizar cambios importantes
                dentro del sistema.
            </span>
        </div>
        <mat-form-field>
            <mat-label>Ingresar frase</mat-label>
            <textarea matInput #message maxlength="100" placeholder="***************" formControlName="aFrase" required>
            </textarea>
            <mat-hint align="start"><strong>Ingresar hasta 100 caracteres.</strong></mat-hint>
            <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
        </mat-form-field>
        <br><br><br>
        <div style="text-align: center;">
            <button id="btn-raised"  class="btn btn-sm" (click)="IngresarFrase(formulario.value)"
                [disabled]="!formulario.valid">Guardar</button>
        </div>
    </form>
</div>