@media (max-width: 992px) {
    .home-inner {
        padding-top: 100px;
    }
}

mat-form-field {
    width: 230px;
}

img {
    width: 100%;
}

.pantalla {
    margin: auto;
}

.btn {
    background-color: rgb(80, 87, 97);
    border-radius: 5px;
    margin-left: 15px;
    color: white;
}

mat-card {
    padding-bottom: 25px;
    border-radius: 25px;
    border-style: groove;
    padding-top: 25px;
    text-align: center;
    width: 300px;
    margin: auto;
}

#home-section {
    background: url('../../../../../assets/imagenes/apple.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.home-inner {
    padding: 100px 100px 15px 100px;
}

.caja1 {
    font-size: 13px;
    text-align: right;
    margin-right: 16px;
    margin-bottom: 25px;
}

.caja2 {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 12px;
    font-size: 13px;
    color: rgb(177, 173, 173);
}