<!-- TABLA CON LISTA DE SOLICITUDES DE SERVICIO DE ALIMENTACION PENDIENTES -->
<br>
<div class="container" style="padding-bottom: 25px; text-align: center;" *ngIf="lista_planificaciones">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <span class="w-100 bd-highlight">
                LISTA DE PLANIFICACIONES DE ALIMENTACIÓN REGISTRADAS</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Servicio</th>
                        <th scope="col">Menú</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Fin</th>
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Final</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of planificaciones | paginate:tamanio_pagina:numero_pagina">
                        <td>{{e.nombre_servicio}}</td>
                        <td>{{e.nombre_menu}}</td>
                        <td>{{e.fecInicio}}</td>
                        <td>{{e.fecFinal}}</td>
                        <td>{{e.horaInicio}}</td>
                        <td>{{e.horaFin}}</td>
                        <td class="justify-content-center">
                            <i *ngIf="ver_icono" class="fas fa-edit" (click)="HabilitarTablaEditar(e.id)" matSuffix
                                matTooltipPosition="right" matTooltip="Modificar los datos generales de este registro.">
                                <p>Editar</p>
                            </i>
                            <i *ngIf="ver_icono" (click)="HabilitarTablaEliminar(e.id)" class="far fa-trash-alt"
                                id="t-eliminar" matSuffix matTooltipPosition="right"
                                matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="planificaciones.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 2%;">
            <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar planificación de alimentación en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar planificación de alimentación en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar planificación de alimentación en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar planificación de alimentación en formato XML.">
                <p>XML</p>
            </i>
        </div>
        <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: -1%; color: rgb(158, 154, 154);">
            <p> Reporte de planificaciones de alimentación registradas. </p>
        </div>
    </div>
</div>

<!-- TABLA CON LISTA DE EMPLEADOS CON PLANIFICACION SELECCIONADA -->
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_empleados">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <mat-icon class="flex-shrink-1 bd-highlight" (click)="HabilitarSeleccion()" matSuffix
                matTooltipPosition="right"
                matTooltip="Editar o Eliminar datos de esta planificación de servicio de alimentación."
                id="SelectCheck">
                library_add_check
            </mat-icon>
            <button *ngIf="botonEditar" class="btn btn-primary" (click)="EditarRegistrosMultiple()"
                style="float: left; margin-left: 10px;">
                Editar
            </button>
            <button *ngIf="botonEliminar" class="btn btn-primary" (click)="EliminarRegistrosMultiple()"
                style="float: left; margin-left: 10px;">
                Eliminar
            </button>
            <mat-icon (click)="CerrarTabla()" matSuffix matTooltipPosition="right"
                matTooltip="Cerrar lista de colaboradores con planificación de servicio de alimentación seleccionada."
                id="cerrar">
                close
            </mat-icon>
            <span class="w-100 bd-highlight">
                LISTA DE COLABORADORES CON PLANIFICACIÓN DE ALIMENTACIÓN
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox *ngIf="botonSeleccion" (change)="$event ? masterToggle() : null"
                                [checked]="selectionUno.hasValue() && isAllSelected()"
                                [indeterminate]="selectionUno.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Menú</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Fin</th>
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Final</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of planEmpleados | paginate:tamanio_pagina_empleado:numero_pagina_empleado">
                        <td>
                            <mat-checkbox *ngIf="botonSeleccion" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionUno.toggle(e) : null" [checked]="selectionUno.isSelected(e)"
                                [aria-label]="checkboxLabel(e)">
                            </mat-checkbox>
                        </td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.nombre_servicio}}</td>
                        <td>{{e.nombre_menu}}</td>
                        <td>{{e.fecInicio}}</td>
                        <td>{{e.fecFinal}}</td>
                        <td>{{e.horaInicio}}</td>
                        <td>{{e.horaFin}}</td>
                        <td class="justify-content-center">
                            <i *ngIf="ver_editar" class="fas fa-edit" (click)="AbrirEditarPlanComidas(e, 'individual')"
                                matSuffix matTooltipPosition="right"
                                matTooltip="Modificar los datos generales de este registro.">
                                <p>Editar</p>
                            </i>
                            <i *ngIf="ver_eliminar" (click)="ConfirmarDeletePlanComidas(e)" class="far fa-trash-alt"
                                id="t-eliminar" matSuffix matTooltipPosition="right"
                                matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="planEmpleados.length" [pageSize]="tamanio_pagina_empleado"
            [pageSizeOptions]="pageSizeOptions_empleado" id="pagina" (page)="ManejarPaginaEmpleados($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
<div *ngIf="(!lista_planificaciones) && (!lista_empleados)" class="container"
    style="padding-bottom: 50px; text-align: center; padding-top: 20px;">
    <div class="mat-elevation-z8" style="color: rgb(158, 154, 154); padding: 2%;">
        <h5> Por el momento no se ha registrado planificaciones. </h5>
    </div>
</div>