#letras {
    font-size: 14px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 30px;
}

.btn {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    color: white;
}

label {
    font-size: 14px;
    margin: 12px 0px 0px 0px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
}