<div id="resultados">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane" id="mover">
        NIVEL DE SEGURIDAD
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana(false)">highlight_off</mat-icon>
</div>
<div class="container">
    <form [formGroup]="formulario">
        <div class="d-flex flex-wrap justify-content-center" style="padding-top: 20px; width: 100%;">
            <mat-radio-group aria-label="Select an option" [formControl]="tipoF" required>
                <div class="d-flex flex-wrap justify-content-start" style="position: relative; left: 5px;">
                    <mat-radio-button value="contrasena" >
                        <label>Usar contraseña</label>
                    </mat-radio-button>
                </div>
                <div class="d-flex flex-wrap justify-content-start" style="position: relative; left: 5px;">
                    <mat-radio-button value="frase">
                        <label>Usar frase</label>
                    </mat-radio-button>
                </div>
                <div class="d-flex flex-wrap justify-content-start" style="position: relative; left: 5px;">
                    <mat-radio-button value="ninguna">
                        <label>Ninguna</label>
                    </mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </form>

    <div class="d-flex flex-wrap justify-content-center" style="padding-top: 20px; margin-bottom: 3%;">
        <button id="btn-raised"  class="btn btn-sm" [disabled]="!formulario.valid" value="Guardar"
            (click)="InsertarEmpresa(formulario.value)">Guardar</button>
    </div>
</div>
<div class="pantalla-progress" *ngIf="habilitarprogress">
    <mat-progress-spinner class="progress" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>