<div id="resultados" *ngIf="data.datosHora.length != 0">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        REGISTRAR AUTORIZACIÓN
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="dialogRef.close()">highlight_off</mat-icon>
</div>
<form [formGroup]="nuevaAutorizacionesForm" *ngIf="data.datosHora.length != 0">
    <mat-card-content>
        <div class="container" style="text-align: center;">
            <div class="nota" style="text-align: justify;">
                <span>
                    NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.
                </span>
            </div>
            <div class="row">
                <div class="col">
                    <div [hidden]="oculDepa">
                        <mat-form-field>
                            <mat-label>Departamento</mat-label>
                            <mat-icon id="notifica" matSuffix matTooltipPosition="right"
                                matTooltip="Lista de departamento">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="idDepartamento">
                                <mat-option *ngFor="let d of nuevoAutorizacionTipos" [value]="d.id_depa_confi"
                                    (click)="ChangeDepa(d.id_depa_confi)">
                                    {{d.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div [hidden]="ocultar">
                        <mat-form-field>
                            <mat-label>Estados</mat-label>
                            <mat-icon id="notifica" matSuffix matTooltipPosition="right" matTooltip="Lista de estados">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="estado" required>
                                <mat-option *ngFor="let e of estados" [value]="e.id">
                                    {{e.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="scrollbar scrollbar-primary">
                <div style="padding-bottom: 5px; padding-top: 10px; margin: auto; width: 55%; height: 50%; align-items:start;"
                    *ngIf="listafiltrada.length != 0">
                    <div class="mat-elevation-z8" style="background: white; text-align: left;">
                        <div id="titulo" *ngFor="let dato of listafiltrada" style="text-align: left;">
                            <mat-icon
                                style=" color: rgb(9, 225, 52); float: left; font-size: 35px; width: max-content; height: max-content; margin-left: 3%;">
                                account_circle
                            </mat-icon>
                            <p style="float: right; font-size: 12px; margin-right: 3%;">Hora Extra: {{dato.id}} </p>
                            <p style="font-size: 12px; margin-left: 20%;">
                                <b style=" color: rgb(3, 208, 244);">{{dato.estado}}</b><br>
                                <b style="font-size: 12px;">Usuario: {{dato.empleado}}</b>
                            </p>
                        </div>
                    </div>
                    <div style="float: right; margin-top: 6px; margin-right: 1%">
                        <p style="font-size: 12px;">Total solicitudes: {{listafiltrada.length}}</p>
                    </div>
                </div>
            </div>
            <div style="margin: 5% 4% 2% 4%;" *ngIf="listafiltrada.length === 0">
                <div style="font-size: 14px; text-align: center;">
                    <p>{{mensaje}}</p>
                </div>
            </div>
            <br>
            <div [hidden]="ocultar" style="padding-top: 1%; margin-bottom: 2%; margin-top: 6px; align-items: center;">
                <button id="btn-raised" class="btn btn-sm" (click)="insertarAutorizacion(nuevaAutorizacionesForm.value)"
                    [disabled]="!nuevaAutorizacionesForm.valid">
                    Guardar
                </button>
            </div>
        </div>
    </mat-card-content>
</form>