<!-- PANTALLA DE LECTURA DE DATOS DE PLANIFICACIONES DE COMIDAS ROL EMPLEADO -->
<div class="container" style="padding-top: 20px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <div class="w-100 bd-highlight">
                <h5>PLANIFICACIÓN SERVICIOS DE ALIMENTACIÓN</h5>
            </div>
        </div>
        <div *ngFor="let pc of planComidas | paginate:tamanio_pagina:numero_pagina" style="padding-top: 15px;">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha:</label>
                            <label>{{pc.fecha_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Motivo:</label>
                            <label>{{pc.observacion}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Tipo:</label>
                            <label *ngIf="pc.extra === false">Normal</label>
                            <label *ngIf="pc.extra === true">Extra</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Servicio:</label>
                            <label>{{pc.nombre_servicio}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Menú:</label>
                            <label>{{pc.nombre_menu}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Alimentación:</label>
                            <label>{{pc.nombre_plato}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Precio Plato:</label>
                            <label>$ {{pc.valor}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Desde:</label>
                            <label>{{pc.fec_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Hasta:</label>
                            <label>{{pc.fec_final_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Hora Inicio:</label>
                            <label>{{pc.hora_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Hora Fin:</label>
                            <label>{{pc.hora_fin_}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-paginator id="pagina" [length]="planComidas.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>