<div id="resultados">
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane" id="mover">
        ELIMINAR REGISTRO
    </span>
</div>
<mat-card-content *ngIf="eliminar">
    <div style="padding: 2%;">
        <p>Se le recuerda que al eliminar este registro automáticamente se eliminarán <b>TODOS</b> los registro con los
            que guarde alguna relación.
            <b>Podría afectar al buen funcionamiento del sistema.</b>
        </p>
        <p id="mensaje">¿ESTÁ SEGURO DE ELIMINAR ESTE REGISTRO?</p>
    </div>
</mat-card-content>
<mat-card-content *ngIf="!eliminar">
    <div style="padding: 2%;">
        <p>
            Para planificaciones horarias múltiples
            <b>
                existe la posibilidad que todos los
                timbres realizados en la fecha indica se desconfiguren.
            </b>
        </p>
        <p id="mensaje">¿ESTÁ SEGURO DE VERIFICAR TIMBRES DE ASISTENCIA?</p>
    </div>
</mat-card-content>
<div style="text-align: center; margin-bottom: 3%;">
    <button mat-raised-button id="aceptar" class="btn-sm" color="primary" (click)="Confirmar()">
        Aceptar
    </button>
    &nbsp;&nbsp;
    <button mat-button id="btn-raised" (click)="CerrarVentana()" cdkFocusInitial>Cancelar</button>
</div>