<div class="container" style="padding-bottom: 25px; padding-top: 20px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <div class="w-100 bd-highlight">
                <h5>SOLICITUDES DE HORAS EXTRAS</h5>
            </div>
            <div class="flex-shrink-1 bd-highlight" style="margin-right: 10px;">
                <button type="submit" class="btn btn-outline-light btn-sm"
                    (click)="AbrirVentanaHoraExtra()">Añadir</button>
            </div>
        </div>
        <div *ngFor="let h of hora_extra | paginate:tamanio_pagina:numero_pagina" style="padding-top: 15px;">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha:</label>
                            <label>{{h.fec_solicita_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Motivo:</label>
                            <label>{{h.descripcion}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Desde:</label>
                            <label>{{h.fecha_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Fecha Hasta:</label>
                            <label>{{h.fecha_fin_}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Hora Desde:</label>
                            <label>{{h.hora_inicio_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Hora Hasta:</label>
                            <label>{{h.hora_fin_}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Horas Solicitadas:</label>
                            <label>{{h.num_hora}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start"
                            *ngIf="h.estado != 'Pendiente' && h.estado != 'Negado'">
                            <label id="datosF">Horas Aprobadas:</label>
                            <label>{{h.tiempo_autorizado}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Estado:</label>
                            <label>{{h.estado}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start" *ngIf="h.documento != null && h.documento != ''">
                            <label id="datosF">Documento:</label>
                            <a matSuffix matTooltipPosition="right" matTooltip="Dar click para descargar documento."
                                href="{{hipervinculo}}/horas-extras-pedidas/documentos/{{h.documento}}" target="_blank">
                                <label style="font-size: 14px;">{{h.docu_nombre}}</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: right;" *ngIf="h.estado === 'Pendiente'">
                <i class="fas fa-edit" id="edit" (click)="EditarHoraExtra(h)" matSuffix matTooltipPosition="right"
                    matTooltip="Modificar los datos generales de este registro">
                    <p>Editar</p>
                </i>
                <i class="fas fa-backspace" id="cancel" (click)="CancelarHoraExtra(h)" matSuffix
                    matTooltipPosition="right" matTooltip="Cancelar solicitud de horas extras">
                    <p>Cancelar</p>
                </i>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-paginator id="pagina" [length]="hora_extra.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>