<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo">
            <span>REGISTRAR REGIMEN LABORAL</span>
            <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana(1, 0)">highlight_off</mat-icon>
        </div>

        <!-- ****************************** PRIMER FORMULARIO ******************************************* -->
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="primerFormulario">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right"
                        matTooltip="Sección 1: Configuración inicial">
                        settings
                    </mat-icon>
                </ng-template>
                <div class="subtitulo">
                    <span>Configuración inicial</span>
                </div>
                <div class="nota">
                    <span>
                        Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Siguiente
                        para continuar.
                    </span>
                </div>
                <form [formGroup]="primerFormulario">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field>
                                    <mat-label id="letras_4">Seleccionar país</mat-label>
                                    <input type="text" placeholder="Ingresar nombre" aria-label="Number" matInput
                                        [formControl]="nombrePaisF" [matAutocomplete]="auto" required>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filtro | async" [value]="option.nombre">
                                            {{option.nombre}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Seleccionar uno de los paises de la lista.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label id="letras_4">Nombre</mat-label>
                                    <input matInput [formControl]="nombreF" required>
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingresar un nuevo nombre de Régimen Laboral">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field id="periodo">
                                    <mat-label id="letras_2">Meses período</mat-label>
                                    <input matInput [formControl]="mesesF" (keypress)="IngresarSoloNumeros($event)"
                                        required (click)="LimpiarCalcular()">
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Indicar el número de meses de duración del período laboral.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                                <mat-form-field id="periodo">
                                    <mat-label id="letras_2">Días por mes</mat-label>
                                    <input matInput [formControl]="diasF" (keypress)="IngresarSoloNumeros($event)"
                                        required (click)="LimpiarCalcular()">
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Indicar el número de días totales dentro de un mes.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <label
                                    style="padding-top: 15px; padding-bottom: 5px; position: relative; left:10px; font-size: 14px;">
                                    Tiempo mínimo de servicio:
                                </label>
                                <mat-icon *ngIf="cancelar" id="cerrar" matSuffix matTooltipPosition="right"
                                    matTooltip="Cancelar registro."
                                    style="margin-top: 13px; position: relative; left:20px; height: max-content"
                                    (click)="CancelarLimite()">
                                    cancel
                                </mat-icon>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start" style="position: relative; left:30px;">
                                <mat-radio-group aria-label="Select an option" [formControl]="servicioF">
                                    <div class="d-flex flex-wrap justify-content-around">
                                        <mat-radio-button value="meses" (change)="SelecionarLimite($event)" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Indicar tiempo mínimo de servicios en meses.">
                                            Meses
                                        </mat-radio-button>
                                        <mat-radio-button value="horas" (change)="SelecionarLimite($event)" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Indicar tiempo mínimo de servicios en horas.">
                                            Horas
                                        </mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start" style="position: relative; left:30px;">
                                <div class="row">
                                    <div class="col-md" *ngIf="meses_">
                                        <mat-form-field id="campos">
                                            <mat-label id="letras_2">No. de Meses</mat-label>
                                            <input matInput [formControl]="minimoMesF" [required]="meses_"
                                                (keypress)="IngresarSoloNumeros($event)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md" *ngIf="horas_">
                                        <mat-form-field id="campos">
                                            <mat-label id="letras_2">No. de Horas</mat-label>
                                            <input matInput [formControl]="minimoHorasF" [required]="horas_"
                                                (keypress)="IngresarSoloNumeros($event)">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start"
                                style="position: relative; left:3px; width: 350px;">
                                <mat-checkbox id="check" matSuffix matTooltipPosition="right"
                                    [formControl]="continuidadF"
                                    matTooltip="Indicar si se requiere control de continuidad laboral.">
                                    Requiere continuidad laboral
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex flex-wrap justify-content-between float-right">
                    <button id="btn-raised" matStepperNext class="btn btn-sm float-right"
                        [disabled]="!primerFormulario.valid">
                        Siguiente
                    </button>
                </div>
            </mat-step>

            <!-- ********************************* SEGUNDO FORMULARIO ************************************* -->
            <mat-step [stepControl]="segundoFormulario">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right"
                        matTooltip="Sección 2: Configurar vacaciones">
                        flight_takeoff
                    </mat-icon>
                </ng-template>
                <div class="subtitulo">
                    <span>Configurar vacaciones</span>
                </div>
                <div class="nota">
                    <span>
                        Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Siguiente
                        para continuar.
                    </span>
                </div>
                <form [formGroup]="segundoFormulario">
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <div style="padding-bottom: 15px;">
                                    <label style="top:15px; position: relative; left:10px;">Días de Vacaciones:</label>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <div class="d-flex flex-wrap justify-content-start">
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">Días hábiles</mat-label>
                                                <input matInput [formControl]="diasLaborablesF"
                                                    (keypress)="IngresarSoloNumeros($event)" [readonly]="escritura_dias"
                                                    required>
                                            </mat-form-field>
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">Días libres</mat-label>
                                                <input matInput [formControl]="diasLibresF"
                                                    (keypress)="IngresarSoloNumeros($event)" [readonly]="escritura_dias"
                                                    required>
                                            </mat-form-field>
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">Días Calendario</mat-label>
                                                <input matInput [formControl]="diasCalendarioF"
                                                    (keypress)="IngresarSoloNumeros($event)" [readonly]="escritura_dias"
                                                    required>
                                            </mat-form-field>

                                            <i id="validar" class="fa fa-check-square-o" matSuffix *ngIf="validar_dias"
                                                matTooltipPosition="right"
                                                (click)="ValidarVacaciones(segundoFormulario.value)"
                                                matTooltip="Validar días de vacaciones ingresados.">
                                                <p>Validar *</p>
                                            </i>

                                            <i id="correcto" class="fa fa-check-square-o" matSuffix
                                                *ngIf="correcto_dias" matTooltipPosition="right"
                                                (click)="EditarVacaciones()"
                                                matTooltip="Editar días de vacaciones ingresados.">
                                                <p>Validado</p>
                                            </i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start" style="padding-bottom: 20px;">
                                <mat-checkbox id="check_" matSuffix matTooltipPosition="right" [formControl]="acumularF"
                                    style="position: relative; left:0px;" (change)="ActivarAcumular($event)"
                                    matTooltip="Activar acumulación de días de vacaciones.">
                                    Acumular vacaciones
                                </mat-checkbox>

                                <mat-form-field *ngIf="acumular" id="Maximo_dias">
                                    <mat-label id="letras_2">Máximo de días acumulables</mat-label>
                                    <input matInput [formControl]="diasAcumulacionF"
                                        (keypress)="IngresarSoloNumeros($event)" [required]="acumular">
                                </mat-form-field>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start">
                                <label style="padding-top: 10px; position: relative; left:10px;">
                                    Solicitudes de vacaciones contabiliza:</label>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start" style="position: relative; left: 25px;">
                                <mat-checkbox matSuffix matTooltipPosition="right" [formControl]="feriadosF"
                                    matTooltip="Dentro de la solicitud de vacaciones se contabilizará feriados.">
                                    Feriados
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-checkbox class="check" [formControl]="periodosF" (change)="ActivarPeriodos($event)"
                                    matSuffix matTooltipPosition="right"
                                    matTooltip="Registrar días de vacaciones en periodos.">
                                    Vacaciones por periodos
                                </mat-checkbox>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right" *ngIf="nuevo_periodo"
                                    style="position: relative; top:25px; right:10px; color:blue"
                                    (click)="RegistrarPeriodo()"
                                    matTooltip="Registrar hasta tres periodos de vacaciones.">
                                    add_box
                                </mat-icon>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field *ngIf="periodo_uno" id="Vacacion_periodo">
                                    <mat-label id="letras_4">1º Periodo</mat-label>
                                    <input matInput [formControl]="periodoUnoF" [required]="periodo_uno"
                                        [readonly]="escritura_periodo" (keypress)="IngresarSoloNumeros($event)"
                                        (input)="VerificarPeriodos($event, 1)">
                                    <mat-icon id="cerrar" matSuffix matTooltipPosition="right" *ngIf="delete_uno"
                                        (click)="EliminarPeriodo(1)" matTooltip="Eliminar Registro.">
                                        cancel
                                    </mat-icon>
                                    <mat-hint align="start" id="error" *ngIf="mensaje1_">
                                        <strong>Dias de vacaciones deben ser mayores a 5.</strong>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field *ngIf="periodo_dos" id="Vacacion_periodo">
                                    <mat-label id="letras_4">2º Periodo</mat-label>
                                    <input matInput [formControl]="periodoDosF" [required]="periodo_dos"
                                        [readonly]="escritura_periodo" (keypress)="IngresarSoloNumeros($event)"
                                        (input)="VerificarPeriodos($event, 2)">
                                    <mat-icon id="cerrar" matSuffix matTooltipPosition="right" *ngIf="delete_dos"
                                        (click)="EliminarPeriodo(2)" matTooltip="Eliminar Registro.">
                                        cancel
                                    </mat-icon>
                                    <mat-hint align="start" id="error" *ngIf="mensaje2_">
                                        <strong>Dias de vacaciones deben ser mayores a 5.</strong>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field *ngIf="periodo_tres" id="Vacacion_periodo">
                                    <mat-label id="letras_4">3º Periodo</mat-label>
                                    <input matInput [formControl]="periodoTresF" [required]="periodo_tres"
                                        [readonly]="escritura_periodo" (keypress)="IngresarSoloNumeros($event)"
                                        (input)="VerificarPeriodos($event, 3)">
                                    <mat-icon id="cerrar" matSuffix matTooltipPosition="right" *ngIf="delete_tres"
                                        (click)="EliminarPeriodo(3)" matTooltip="Eliminar Registro.">
                                        cancel
                                    </mat-icon>
                                    <mat-hint align="start" id="error" *ngIf="mensaje3_">
                                        <strong>Dias de vacaciones deben ser mayores a 5.</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start" style="margin-top: 1%;">
                                <i id="validar" class="fa fa-check-square-o" matSuffix *ngIf="validar_periodo"
                                    matTooltipPosition="right" (click)="ValidarDiasPeriodo(segundoFormulario.value)"
                                    matTooltip="Validar días de vacaciones ingresados.">
                                    <p>Validar *</p>
                                </i>

                                <i id="correcto" class="fa fa-check-square-o" matSuffix *ngIf="correcto_periodo"
                                    matTooltipPosition="right" (click)="EditarPeriodo()"
                                    matTooltip="Editar días de vacaciones ingresados.">
                                    <p>Validado</p>
                                </i>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button class="btn btn-sm" id="btn-raised" matStepperPrevious>
                        Atrás
                    </button>
                    <button id="btn-raised" matStepperNext class="btn btn-sm float-right" [disabled]="siguiente">
                        Siguiente
                    </button>
                </div>
            </mat-step>

            <!-- **************************** TERCER FORMULARIO ***************************** -->
            <mat-step [stepControl]="tercerFormulario">
                <ng-template matStepLabel>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right"
                        matTooltip="Sección 3: Configurar antigüedad">
                        event_note
                    </mat-icon>
                </ng-template>
                <div class="subtitulo">
                    <span>Configurar Antigüedad</span>
                </div>
                <div class="nota">
                    <span>Llenar todos los campos obligatorios (*) del formulario y dar click en Guardar.</span>
                </div>

                <form [formGroup]="tercerFormulario">
                    <div class="row">
                        <div class="col-md" style="padding-bottom: 15px;">

                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-checkbox class="check" matSuffix matTooltipPosition="right"
                                    [formControl]="antiguedadActivaF" style="position: relative; left:10px;"
                                    (change)="ActivarAntiguedad($event, tercerFormulario.value)"
                                    matTooltip="Activar vacaciones por antiguedad laboral.">
                                    Antigüedad laboral
                                </mat-checkbox>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start" *ngIf="antiguedad"
                                style="position: relative; left:40px;">
                                <mat-radio-group aria-label="Select an option" [formControl]="antiguedadF">
                                    <div class="d-flex flex-wrap justify-content-around">
                                        <mat-radio-button value="fija"
                                            (change)="SelecionarAntiguo($event, tercerFormulario.value)">
                                            Fija
                                        </mat-radio-button>
                                        <mat-radio-button value="variable"
                                            (change)="SelecionarAntiguo($event, tercerFormulario.value)">
                                            Variable
                                        </mat-radio-button>
                                    </div>
                                </mat-radio-group>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right" *ngIf="variable"
                                    style="position: relative; left:40px; color:blue;"
                                    (click)="RegistrarAntiguedad(tercerFormulario.value)"
                                    matTooltip="Registrar antiguedad para vacaciones.">
                                    add_box
                                </mat-icon>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start">
                                <div class="row" *ngIf="fija">
                                    <div class="col-md">
                                        <div class="d-flex flex-wrap justify-content-start">
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_1">Años antiguedad</mat-label>
                                                <input matInput [formControl]="aniosAntiguedadF" [required]="fija"
                                                    (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>
                                            <mat-form-field id="campos">
                                                <mat-label id="letras_2">Días adicionales</mat-label>
                                                <input matInput [formControl]="diasAdicionalesF" [required]="fija"
                                                    (keypress)="IngresarSoloNumeros($event)">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap justify-content-start" *ngIf="antiguo_uno">
                                <mat-form-field id="campos_antiguedad">
                                    <mat-label id="letras_2">Años desde</mat-label>
                                    <input matInput [formControl]="desde_unoF" [required]="antiguo_uno"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                </mat-form-field>
                                <mat-form-field id="campos_antiguedad_hasta">
                                    <mat-label id="letras_2">Años hasta</mat-label>
                                    <input matInput [formControl]="hasta_unoF" [required]="antiguo_uno"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                    <mat-hint align="start" id="error_" *ngIf="hasta_uno">
                                        <strong>Debe ser mayor al campo <i>"años desde"</i></strong>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field id="campos_antiguedad">
                                    <mat-label id="letras_2">Vacaciones</mat-label>
                                    <input matInput [formControl]="vacaciones_unoF" [required]="antiguo_uno"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                </mat-form-field>
                                <mat-icon id="cerrar" style="font-size: 18px;" matSuffix *ngIf="delete_antiguo_uno"
                                    matTooltipPosition="right" matTooltip="Eliminar Registro."
                                    (click)="EliminarAntiguedad(1)">
                                    cancel
                                </mat-icon>
                            </div>

                            <hr *ngIf="antiguo_dos">
                            <div class="d-flex flex-wrap justify-content-start" *ngIf="antiguo_dos">
                                <mat-form-field id="campos_antiguedad">
                                    <mat-label id="letras_2">Años desde</mat-label>
                                    <input matInput [formControl]="desde_dosF" [required]="antiguo_dos"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                </mat-form-field>
                                <mat-form-field id="campos_antiguedad_hasta">
                                    <mat-label id="letras_2">Años hasta</mat-label>
                                    <input matInput [formControl]="hasta_dosF" [required]="antiguo_dos"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                    <mat-hint align="start" id="error_" *ngIf="hasta_dos">
                                        <strong>Debe ser mayor al campo <i>"años desde"</i></strong>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field id="campos_antiguedad">
                                    <mat-label id="letras_2">Vacaciones</mat-label>
                                    <input matInput [formControl]="vacaciones_dosF" [required]="antiguo_dos"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                </mat-form-field>
                                <mat-icon id="cerrar" style="font-size: 18px;" matSuffix *ngIf="delete_antiguo_dos"
                                    matTooltipPosition="right" matTooltip="Eliminar Registro."
                                    (click)="EliminarAntiguedad(2)">
                                    cancel
                                </mat-icon>
                            </div>

                            <hr *ngIf="antiguo_tres">
                            <div class="d-flex flex-wrap justify-content-start" *ngIf="antiguo_tres">
                                <mat-form-field id="campos_antiguedad">
                                    <mat-label id="letras_2">Años desde</mat-label>
                                    <input matInput [formControl]="desde_tresF" [required]="antiguo_tres"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                </mat-form-field>
                                <mat-form-field id="campos_antiguedad_hasta">
                                    <mat-label id="letras_2">Años hasta</mat-label>
                                    <input matInput [formControl]="hasta_tresF" [required]="antiguo_tres"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                    <mat-hint align="start" id="error_" *ngIf="hasta_tres">
                                        <strong>Debe ser mayor al campo <i>"años desde"</i></strong>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field id="campos_antiguedad">
                                    <mat-label id="letras_2">Vacaciones</mat-label>
                                    <input matInput [formControl]="vacaciones_tresF" [required]="antiguo_tres"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                </mat-form-field>
                                <mat-icon id="cerrar" style="font-size: 18px;" matSuffix *ngIf="delete_antiguo_tres"
                                    matTooltipPosition="right" matTooltip="Eliminar Registro."
                                    (click)="EliminarAntiguedad(3)">
                                    cancel
                                </mat-icon>
                            </div>

                            <hr *ngIf="antiguo_cuatro">
                            <div class="d-flex flex-wrap justify-content-start" *ngIf="antiguo_cuatro">
                                <mat-form-field id="campos_antiguedad">
                                    <mat-label id="letras_2">Años desde</mat-label>
                                    <input matInput [formControl]="desde_cuatroF" [required]="antiguo_cuatro"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                </mat-form-field>
                                <mat-form-field id="campos_antiguedad_hasta">
                                    <mat-label id="letras_2">Años hasta</mat-label>
                                    <input matInput [formControl]="hasta_cuatroF" [required]="antiguo_cuatro"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                    <mat-hint align="start" id="error_" *ngIf="hasta_cuatro">
                                        <strong>Debe ser mayor al campo <i>"años desde"</i></strong>
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field id="campos_antiguedad">
                                    <mat-label id="letras_2">Vacaciones</mat-label>
                                    <input matInput [formControl]="vacaciones_cuatroF" [required]="antiguo_cuatro"
                                        [readonly]="escritura_antiguo" (keypress)="IngresarSoloNumeros($event)">
                                </mat-form-field>
                                <mat-icon id="cerrar" style="font-size: 18px;" matSuffix *ngIf="delete_antiguo_cuatro"
                                    matTooltipPosition="right" matTooltip="Eliminar Registro."
                                    (click)="EliminarAntiguedad(4)">
                                    cancel
                                </mat-icon>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start">
                                <i id="validar" class="fa fa-check-square-o" matSuffix *ngIf="validar_antiguo"
                                    matTooltipPosition="right" (click)="VerificarAntiguedad(tercerFormulario.value)"
                                    matTooltip="Validar días de vacaciones ingresados.">
                                    <p>Validar *</p>
                                </i>

                                <i id="correcto" class="fa fa-check-square-o" matSuffix *ngIf="correcto_antiguo"
                                    matTooltipPosition="right" (click)="EditarAntiguedad()"
                                    matTooltip="Editar años y días de vacaciones ingresados.">
                                    <p>Validado</p>
                                </i>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-form-field id="campos_calculos">
                                    <mat-label id="letras_2">Meses período</mat-label>
                                    <input matInput [formControl]="meses_calculoF"
                                        (keypress)="IngresarSoloNumeros($event)" required (click)="LimpiarCalcular()">
                                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                        matTooltip="Indicar el número de meses considerados para el cálculo.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start">
                                <mat-checkbox class="check" matSuffix matTooltipPosition="right"
                                    style="position: relative; left:10px;"
                                    (change)="ValidarRequerido($event, primerFormulario.value, segundoFormulario.value, tercerFormulario.value)"
                                    [formControl]="calculoF"
                                    matTooltip="Dar click para realizar cálculo y completar todos los datos.">
                                    Realizar cálculos *
                                </mat-checkbox>
                                <mat-icon *ngIf="limpiar_calcular" id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Eliminar cálculos realizados."
                                    style="position: relative; left:5px; top: 25px; color: red;"
                                    (click)="LimpiarCalcular()">
                                    delete
                                </mat-icon>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <label style="padding-top: 10px; position: relative; left:10px;">
                                            Vacaciones ganadas por mes:</label>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-form-field id="periodo_calculo">
                                            <mat-label id="letras_3">Hábiles:</mat-label>
                                            <input matInput [formControl]="diasMesLaborableF" readonly>
                                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                                matTooltip="Días laborables de vacaciones ganados por mes.">
                                                help_outline
                                            </mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-form-field id="periodo_calculo">
                                            <mat-label id="letras_3">Calendario:</mat-label>
                                            <input matInput [formControl]="diasMesCalendarioF" readonly>
                                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                                matTooltip="Días calendario de vacaciones ganados por mes.">
                                                help_outline
                                            </mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <label style="padding-top: 10px; position: relative; left:10px;">
                                            Vacaciones ganadas por días:</label>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-form-field id="periodo_calculo">
                                            <mat-label id="letras_3">Hábiles:</mat-label>
                                            <input matInput [formControl]="dias_LaborableF" readonly>
                                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                                matTooltip="Días labaorables de vacaciones ganados por día.">
                                                help_outline
                                            </mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-start">
                                        <mat-form-field id="periodo_calculo">
                                            <mat-label id="letras_3">Calendario:</mat-label>
                                            <input matInput [formControl]="dias_CalendarioF" readonly>
                                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                                matTooltip="Dias calendario de vacaciones ganados por día.">
                                                help_outline
                                            </mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button id="btn-raised" matStepperPrevious class="btn btn-sm float-left">Atrás</button>
                        <button id="btn-raised" class="btn btn-sm float-right" (click)="VerificarRegistro(primerFormulario.value, segundoFormulario.value,
                            tercerFormulario.value)" [disabled]="activar_guardar">
                            Guardar
                        </button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>