.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

.mat-stepper-horizontal {
    margin-top: 8px;
}

mat-label {
    font-size: 14px;
}

mat-radio-group {
    width: 230px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
}

#fuente {
    font-size: 12px;
}

.btn {
    margin-left: 15px;
    background-color: rgb(80, 87, 97);
    color: white;
}

#usuario {
    font-size: 13px;
}

.subtitulo {
    position: relative;
    float: left;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
}

#seccion_permiso {
    color: rgba(8, 10, 124, 0.828);
}

mat-form-field {
    width: 275px;
    padding: 10px 10px 0px 10px;
}

#formulario {
    padding: 0px 10px 0px 0px;
    width: 230px;
}
