<div class="container" style="margin-bottom: 25px; padding-bottom: 10px; padding-top: 15px;" [hidden]="verDetalle">
    <div id="titulo">
        <span>REPORTE DE TIMBRES (APLICACIÓN MÓVIL)</span>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5" style="padding-bottom: 10px;">
            <app-rango-fechas></app-rango-fechas>
        </div>
        <div class="col-lg-7">
            <div id="resultados">
                <span>OPCIONES DE DESCARGA</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
                    <button mat-icon-button (click)="validacionReporte('ver')" matTooltipPosition="right"
                        matTooltip="Previsualizar reporte en el navegador">
                        <mat-icon class="ver">visibility</mat-icon>
                    </button>
                    <button mat-icon-button (click)="validacionReporte('open')" matTooltipPosition="right"
                        matTooltip="Previsualizar reporte en el navegador en fomato PDF.">
                        <mat-icon class="i-pdf">picture_as_pdf</mat-icon>
                    </button>
                    <button mat-icon-button (click)="validacionReporte('excel')" matTooltipPosition="right"
                        matTooltip="Descargar reporte en formato EXCEL.">
                        <mat-icon class="fas fa-file-excel i-excel"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="validacionReporte('print')" matTooltipPosition="right"
                        matTooltip="Imprimir reporte en formato PDF.">
                        <mat-icon class="i-print">local_printshop</mat-icon>
                    </button>
                    <button mat-icon-button (click)="validacionReporte('download')" matTooltipPosition="right"
                        matTooltip="Descargar reporte en formato PDF.">
                        <mat-icon class="i-download">cloud_download</mat-icon>
                    </button>
                    <app-option-timbre-dispositivo *ngIf="dispositivo"></app-option-timbre-dispositivo>
                </div>
            </mat-card>
        </div>
        <app-criterios-busqueda [num_option]="5" id="busqueda"></app-criterios-busqueda>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;" [hidden]="verDetalle">
    <!-- TABLA PARA SUCURSALES -->
    <div *ngIf="bool.bool_suc" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO SUCURSALES
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleSuc() : null"
                                [checked]="selectionSuc.hasValue() && isAllSelectedSuc()"
                                [indeterminate]="selectionSuc.hasValue() && !isAllSelectedSuc()"
                                [aria-label]="checkboxLabelSuc()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let s of sucursales | emplNombre: filtroNombreSuc | paginate:tamanio_pagina_suc:numero_pagina_suc">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionSuc.toggle(s) : null" [checked]="selectionSuc.isSelected(s)"
                                [aria-label]="checkboxLabelSuc(s)">
                            </mat-checkbox>
                        </td>
                        <td>{{s.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina_suc"
            [pageSizeOptions]="pageSizeOptions_suc" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>

    <!-- TABLA PARA REGIMEN -->
    <div *ngIf="bool.bool_reg" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO REGIMEN LABORAL
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleReg() : null"
                                [checked]="selectionReg.hasValue() && isAllSelectedReg()"
                                [indeterminate]="selectionReg.hasValue() && !isAllSelectedReg()"
                                [aria-label]="checkboxLabelReg()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let r of regimen | emplNombre: filtroNombreReg | paginate:tamanio_pagina_reg:numero_pagina_reg">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionReg.toggle(r) : null" [checked]="selectionReg.isSelected(r)"
                                [aria-label]="checkboxLabelReg(r)">
                            </mat-checkbox>
                        </td>
                        <td>{{r.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="regimen.length" [pageSize]="tamanio_pagina_reg"
            [pageSizeOptions]="pageSizeOptions_reg" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>

    <!-- TABLA PARA CARGOS -->
    <div *ngIf="bool.bool_cargo" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO CARGOS
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleCar() : null"
                                [checked]="selectionCar.hasValue() && isAllSelectedCar()"
                                [indeterminate]="selectionCar.hasValue() && !isAllSelectedCar()"
                                [aria-label]="checkboxLabelCar()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let c of cargos | emplNombre: filtroNombreCar | paginate:tamanio_pagina_car:numero_pagina_car">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionCar.toggle(c) : null" [checked]="selectionCar.isSelected(c)"
                                [aria-label]="checkboxLabelCar(c)">
                            </mat-checkbox>
                        </td>
                        <td>{{c.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina_suc"
            [pageSizeOptions]="pageSizeOptions_suc" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>

    <!-- TABLA PARA DEPARTAMENTOS -->
    <div *ngIf="bool.bool_dep" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO DEPARTAMENTOS
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleDep() : null"
                                [checked]="selectionDep.hasValue() && isAllSelectedDep()"
                                [indeterminate]="selectionDep.hasValue() && !isAllSelectedDep()"
                                [aria-label]="checkboxLabelDep()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let d of departamentos | emplNombre: filtroNombreDep | paginate:tamanio_pagina_dep:numero_pagina_dep">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionDep.toggle(d) : null" [checked]="selectionDep.isSelected(d)"
                                [aria-label]="checkboxLabelDep(d)">
                            </mat-checkbox>
                        </td>
                        <td>{{d.departamento}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="departamentos.length" [pageSize]="tamanio_pagina_dep"
            [pageSizeOptions]="pageSizeOptions_dep" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>
    <!-- TABLA PARA EMPLEADOS -->
    <div *ngIf="bool.bool_emp" class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultados">
            <span class="w-100 bd-highlight">
                RESULTADO USUARIOS
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleEmp() : null"
                                [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                [aria-label]="checkboxLabelEmp()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Codigo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombreEmp | paginate:tamanio_pagina_emp:numero_pagina_emp">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionEmp.toggle(e) : null" [checked]="selectionEmp.isSelected(e)"
                                [aria-label]="checkboxLabelEmp(e)">
                            </mat-checkbox>
                        </td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.cedula}}</td>
                        <td>{{e.codigo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="empleados.length" [pageSize]="tamanio_pagina_emp"
            [pageSizeOptions]="pageSizeOptions_emp" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <br>
    </div>
</div>
<div class="container" style="padding-top: 15px" [hidden]="!verDetalle">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo">
            <span>DETALLES DE TIMBRES (APLICACIÓN MÓVIL)</span>
            <button class="btn btn-outline-light btn-sm" style="float: left; margin-left: 10px" (click)="Regresar()"
                matTooltip="Regresar">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
        <mat-card-content>
            <div class="container" style="padding-bottom: 25px; text-align: center; margin-top: 0.5rem">
                <div class="table-responsive">
                    <table class="table table-hover table-sm" id="detalle">
                        <thead class="thead-light">
                            <tr style="text-align: center">
                                <th scope="col" rowspan="2">N°</th>
                                <th scope="col" rowspan="2">CÓDIGO</th>
                                <th scope="col" rowspan="2">EMPLEADO</th>
                                <th scope="col" rowspan="1" colspan="2">TIMBRE</th>
                                <th scope="col" rowspan="1" colspan="2" *ngIf="timbreDispositivo">DISPOSITIVO</th>
                                <th scope="col" rowspan="2">RELOJ</th>
                                <th scope="col" rowspan="2">ACCIÓN</th>
                                <th scope="col" rowspan="2">OBSERVACION</th>
                                <th scope="col" rowspan="2">LONGITUD</th>
                                <th scope="col" rowspan="2">LATITUD</th>
                                <th scope="col" rowspan="2">MAPS</th>
                            </tr>
                            <tr style="text-align: center">
                                <th scope="col" rowspan="1">FECHA</th>
                                <th scope="col" rowspan="1">HORA</th>
                                <th scope="col" rowspan="1" *ngIf="timbreDispositivo">FECHA</th>
                                <th scope="col" rowspan="1" *ngIf="timbreDispositivo">HORA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let t of timbres | paginate : tamanio_pagina : numero_pagina">
                                <td>{{ t.n }}</td>
                                <td>{{ t.codigo }}</td>
                                <td>{{ t.empleado }}</td>
                                <td>{{ t.fechaTimbreServidor }}</td>
                                <td>{{ t.horaTimbreServidor }}</td>
                                <td *ngIf="timbreDispositivo">{{ t.fechaTimbre }}</td>
                                <td *ngIf="timbreDispositivo">{{ t.horaTimbre }}</td>
                                <td>{{ t.reloj }}</td>
                                <td>{{ t.accion }}</td>
                                <td>{{ t.observacion }}</td>
                                <td>{{ t.longitud }}</td>
                                <td>{{ t.latitud }}</td>
                                <td>
                                    <mat-icon aria-hidden="false" id="accion" (click)="AbrirMapa(t.latitud, t.longitud)"
                                        matSuffix matTooltipPtosition="right"
                                        matTooltip="Direccionar al mapa con ubicación del timbre seleccionado."
                                        *ngIf="t.longitud && t.latitud">
                                        location_on
                                    </mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator [length]="timbres.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
                    (page)="ManejarPaginaDetalle($event)" showFirstLastButtons aria-label="Seleccionar pagina">
                </mat-paginator>
            </div>
            <div class="d-flex justify-content-end" style="margin-right: 2%; margin-top: 0.5rem">
                <i id="pdf" class="fas fa-file-pdf icon" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar reporte en formato PDF." (click)="generarPdf('download')">
                    <p>PDF</p>
                </i>
                <i id="excel" class="fas fa-file-excel icon" matSuffix matTooltipPosition="right"
                    matTooltip="Descargar reporte en formato EXCEL." (click)="exportToExcel(tipo)">
                    <p>XLSL</p>
                </i>
            </div>
        </mat-card-content>
    </mat-card>
</div>