.btn {
    background-color: rgb(80, 87, 97);
    color: white;
}

.button {
    margin: 5px 10px 5px 10px;
}

mat-form-field {
    margin: 5px 5px 5px 0px;
}

.correo {
    margin: 5px 5px 5px 0px;
    width: 270px;
}

.progress {
    opacity: 1;
    margin: 250px auto auto auto;
}

.pantalla-progress {
    background: #ffff;
    position: fixed;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

mat-label {
    font-size: 13px;
}

mat-progress-spinner {
    background: transparent;
    z-index: 100;
}

#i-cursor {
    cursor: pointer;
    font-size: medium;
}